<div class="control-panel-breadcrumbs">
    <ul>
        <li><a href="{{ path('cp.home') }}">Main</a> </li>
        {% for crumb in breadcrumbs %}
            <li>
                <a href="{{ crumb.url }}">{{ crumb.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>