<div class="btn-group btn-group-sm">
{% for button in buttons %}
    <a href="{{ (button.route is defined ? path(button.route, button.routeParams) : '#' ) }}" class="{{ button.buttonClass }}">
        <i class="glyphicon glyphicon-{{ button.icon }}">
            {% if button.title is defined %}
                {{ button.title|trans }}
            {% endif %}
        </i>
    </a>
{% endfor %}
</div>
