<ul class="list-unstyled cp-menu">
    {% for item in menu %}
        <li>
            <h4 {% if item.active %}class="active" {% endif %}>
                {% if item.route is defined %}
                    <a href="{{ path(item.route) }}">{{ item.title }}</a>
                {% else %}
                    {{ item.title }}
                {% endif %}
            </h4>
            {% if item.children is defined %}
                <ul>
                    {% for child in item.children %}
                        {% include '@Cp/widget/sidebar_item_menu.twig' with { item: child } only %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>