<li>
    {% if item.route is defined %}
        <a href="{{ path(item.route) }}" class="{% if item.active is defined and item.active == true %}active{% endif %}">{{ item.title }}</a>
    {% else %}
        {{ item.title }}
    {% endif %}

    {% if item.children is defined %}
        <ul>
            {% for child in item.children %}
                {% include '@Cp/widget/sidebar_item_menu.twig' with { item: child } only %}
            {% endfor %}
        </ul>
    {% endif %}
</li>