{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2>
        {{ 'We sent reset link, check your email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </h2>
{% endblock %}
