{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'Reset password for %username%'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'Hello, %username%, your resetting url: %confirmationUrl%'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
    Hello, {{ user.username }}, your resetting <a href={{ confirmationUrl }}>link</a>
{% endblock %}