<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username">{{ 'Enter username'|trans }}</label>
        <input type="text" class="form-control" id="username" name="username" required="required" />
    </div>
    <div class="form-action">
        <button type="submit" class="btn btn-primary">{{ 'Request reset link'|trans }}</button>
    </div>
</form>