{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">{{ 'resetting.reset.submit'|trans }}</button>
{{ form_end(form) }}
