{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ path('cp.catalog.category.index') }}" class="btn btn-default">Back</a>
{{ form_end(form) }}