{{ form_start(aliasesForm) }}

{{ form_widget(aliasesForm) }}

<div class="help-block">
    {{ 'One category by one line'|trans }}
</div>
<button type="button" class="btn btn-success send-mapping-category-aliases">
    {{ 'Save Tab'|trans }}
</button>

{{ form_end(aliasesForm) }}