<div class="panel-box">
    <div class="panel-box-title">
        <h3>ADDRESS BOOK</h3>
        <a href="{{ path('shop.account.address_book.index') }}" class="panel-box-edit">Manage Addresses</a>
    </div>

    <div class="panel-box-content">
        <div class="row">
            <div class="col-sm-6">
            {% for addressItem in infoList %}
                <h4 class="h5 heading-text-color font-weight-semibold mb-xs">
                    <strong>{{ addressItem.firstName }}, {{ addressItem.lastName }}</strong>
                </h4>
                <address>
                    {{ addressItem.address }}{% if addressItem.apartment %} {{ addressItem.apartment }}{% endif %}, {{ addressItem.city.title }}, {{ addressItem.state.title }}, {{ addressItem.country.title }}
                </address>
                <div class="btn-group-sm">
                    <a href="{{ path('shop.account.address_book.edit', {'id': addressItem.id}) }}" class="btn btn-primary">Edit</a>
                    <a
                        href="{{ path('shop.account.address_book.remove', {'id': addressItem.id}) }}"
                        class="btn btn-danger js-link-require-confirm"
                        data-confirm-title="Delete Address"
                        data-confirm-message="Would you like to delete it address?"
                    >Remove</a>
                </div>
            {% else %}
                <p>You dont have any addresses</p>
                <a href="{{ path('shop.account.address_book.add') }}" class="btn btn-primary">Add</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>