{# @controller ShopBundle:Account:index #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    <h2 class="h3 mb-sm"><strong>Account Information</strong></h2>

    <div class="row">
        <div class="col-md-6">
            {% include '@Shop/account/dashboard/user_info.part.twig' %}
        </div>
        <div class="col-md-6">
            {% include '@Shop/account/dashboard/orders.part.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include '@Shop/account/dashboard/address_book.part.twig' %}
        </div>
    </div>
{% endblock %}