{# orders \Order\Entity\Order[] #}
<div class="panel-box">
    <div class="panel-box-title">
        <h3>Last Orders</h3>
        <a href="{{ path('shop.account.orders.index') }}" class="panel-box-edit">View All</a>
    </div>
    <div class="panel-box-content">
        <table class="table table-striped">
            {% for order in orders %}
                {% set orderCurrency = order.mainPayment ? order.mainPayment.currency : currency %}
                {% set orderRate = order.mainPayment ? order.mainPayment.rate : null %}
                <tr>
                    <td>{{ order.code }}</td>
                    <td class="zt-width_25pct">{{ order.totalPrice.total|convert(orderCurrency) }} {{ orderCurrency|upper }}</td>
                    <td>{{ order.currentStatus.readableStatus }}</td>
                </tr>
            {% else %}
                <p>Your list of orders is empty</p>
            {% endfor %}
        </table>
    </div>
</div>