{# userInfo \User\Entity\User #}
<div class="panel-box">
    <div class="panel-box-title">
        <h3>MAIN INFO</h3>
    </div>
    <div class="panel-box-content">
        <table class="table table-contents">
            <tr>
                <td>Username</td>
                <td>{{ userInfo.username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ userInfo.email }}</td>
            </tr>
        </table>
        <div class="btn-group-sm">
            <button type="button" class="btn btn-primary" data-url="{{ path('shop.account.reset.password') }}" data-toggle="ajax-modal">Reset Password</button>
        </div>
    </div>
</div>