<h4>Be the First to Know</h4>
<p class="newsletter-info">Get all the latest information on Events,<br> Sales and Offers. Sign up for newsletter today.</p>

<div class="alert alert-success hidden" id="newsletterSuccess">
    <strong>Success!</strong> You've been added to our email list.
</div>

<div class="alert alert-danger hidden" id="newsletterError"></div>

<p>Enter your e-mail Address:</p>

{{ form_start(form, {
    'id': 'newsletterForm',
    'action': path('subscribe'),
    'attr': {
        'class': 'js-newsletter-subscribe-form',
        'data-success-text': "Submitted"
    }
}) }}

<div class="input-group">
    {{ form_widget(form.email, {
        'attr': {
            'placeholder': 'Email Address',
            'class': 'js-newsletter-subscribe-form-email-field'
        }
    }) }}
    <span class="input-group-btn">
        <button class="btn-newsletter-subscribe btn btn-primary" type="submit">Submit</button>
    </span>
</div>

{{ form_end(form) }}