<div class="row">
    {{ form_start(filter) }}
    <div class="col-md-3">
        {{ form_row(filter.query) }}
    </div>
    <div class="col-md-3">
        {{ form_row(filter.role) }}
    </div>
    <div class="col-md-3 zt-margin-t_25px">
        <button class="btn btn-primary" type="submit">Search</button>
        <a href="{{ path('cp.user.index') }}" class="btn btn-default">Reset</a>
    </div>
    {{ form_end(filter) }}
</div>