{# @controller UserBundle:User:createEdit #}
{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Save</button>
    {{ form_end(form) }}
{% endblock %}

{% block page_header %}
    {% if isCreate %}
        Create User
    {% else %}
        Update user '{{ user.username }}'
    {% endif %}
{% endblock %}
