{# @controller UserBundle:User:list #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}List of Users{% endblock %}

{% block body %}
    {% include '@User/User/filter.twig' with {filter: filterForm} only %}

    <a href="{{ path('cp.user.create') }}" class="btn btn-success btn-create">Create User</a>
    <table class="table table-striped">
        <tr>
            <th>
                <a href="{{ sortPath('cp.user.index', sortKeys.id.key, sortKeys.id.direction) }}">Id</a>
            </th>
            <th>
                <a href="{{ sortPath('cp.user.index', sortKeys.username.key, sortKeys.username.direction) }}">Username</a>
            </th>
            <th>Email</th>
            <th>
                <a href="{{ sortPath('cp.user.index', sortKeys.createdAt.key, sortKeys.createdAt.direction) }}">Registered date</a>
            </th>
            <th>Last login date</th>
            <th>Roles</th>
            <th style="width: 150px"></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.createdAt|date(format="Y/m/d H:i:s") }}</td>
                <td>{{ user.lastLogin|date(format="Y/m/d H:i:s") }}</td>
                <td>
                    {{ user.readableRoles|join('<br />')|raw }}
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('cp.user.edit', { id: user.id }) }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}