{# messages \Order\Entity\Message\BaseMessage[] #}

<div class="chat-wrap">
    <div class="messages-list js-message-list">
        {% for message in messages %}
            {% include '@Cp/chat/message.part.twig' with { message: message } only %}
        {% else %}
            <h4>Chat is empty</h4>
        {% endfor %}
    </div>
</div>
