{# message \Order\Entity\Message\BaseMessage #}
{# message \Order\Entity\Message\DisputeMessage #}
<div class="chat-message-wrap clearfix">
    <div class="js-chat-message chat-message {{ message.to is null ? 'from-customer' : '' }}">
        <div class="message-header">
            <span class="message-author">{{ message.fromDisplayName }}</span>
            <span class="message-date">{{ message.createdAt|date }}</span>
        </div>
        <div class="message-text">
            {{ message.message|nl2br }}
        </div>
        {% if message.attachments is defined %}
            <ul class="message-attachments-list list-unstyled clearfix">
                {% for attachment in message.attachments %}
                    <li class="message-attachment">
                        <img src="{{ image_path(attachment) }}">
                        <div class="js-zoom attachment-zoom" data-src="{{ image_path(attachment) }}">
                            <i class="fas fa-search-plus"></i>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
