<style>
    .mobile_sticker {
        margin: 5px;
        padding: 10px;
        color: white;
        border: 2px solid red;
        display: inline-block;
    }
</style>
<div class="mobile_sticker">
    {{ type }}
    {% if device %}
        <br>{{ device }}
    {% endif %}
</div>