<div class="sort-by">
    <label>Sort by:</label>
    <select class="js-products-sorting-link-selector">
        {% for sort in keys %}
            <option
                value="{{ path(route, query_params|merge({sorting: sort.key})) }}"
                {% if sort.is_active %}selected="selected"{% endif %}
            >
                {{ sort.title }}
            </option>
        {% endfor %}
    </select>
    <a href="{{ path(route, query_params|merge({ sorting: current_sorting, direct: direction })) }}" title="Set Desc Direction" class="sort-btn js-product-sort-direction" data-direction="asc">
        <i class="fa fa-sort-amount-{{ currentDirection }}"></i>
    </a>
</div>