{% extends '@Shop/layouts/one-column-form.twig' %}

{% block title %}You canceled an order.{% endblock %}
{% block form_title %}{% endblock %}
{% block content %}
    <h3>Order has been canceled.</h3>
{% endblock %}

