{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    <div class="js-chat-container chat-container">
        <h3>Chat on order #{{ order.code }}</h3>
        {% include '@Shop/account/chat/message_list.part.twig' with { messages: messages } only %}

        {% if isAllowChat %}
            {% include '@Shop/account/chat/form.part.twig' with {
                form: form,
                type: 'order',
                target: order.id,
                allowAttachments: false
            } only %}
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/chat.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/chat.js') }}"></script>
{% endblock %}