{# @controller ShopBundle:Order:detail #}
{% extends '@Shop/layouts/one-column-form.twig' %}

{% block title %}Order #{{ order.code }}{% endblock %}
{% block form_title %}Order #{{ order.code }}{% endblock %}
{% block content %}
    {% include '@Shop/account/orders/order.part.twig' %}
{% endblock %}