{# unavailableProducts \Catalog\ORM\Entity\Product[] #}
{# allowRemove boolean #}
{% extends '@Shop/layouts/one-column-form.twig' %}

{% block title %}
    Some of them products is unavailable now
{% endblock %}

{% block body %}
    <div class="unavailable-products-list">
        <h3>Next products is unavailable now.</h3>
        {% if unavailableProducts|length > 0 %}
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                </tr>
                {% for product in unavailableProducts %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>
                            <img src="{{ image_path(product.mainImage) }}" class="img-responsive" width="200px">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% if allowRemove == true %}
        <a class="btn btn-primary">Continue without those products</a>
    {% endif %}
    <a href="{{ path('homepage') }}" class="btn btn-default">Go to catalog</a>
{% endblock %}