<div class="order-preview">
{% for item in items %}
    <div class="row">
        <div class="col-md-6 product-title">{{ item.product.title }}</div>
        <div class="col-md-2">
            <img src="{{ image_path(item.product.mainImage) }}" class="img-responsive img-product">
        </div>
        <div class="col-md-2 product-quantity">
            <span class="remove glyphicon glyphicon-minus"></span>
            {{ item.quantity }}
            <span class="add glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-md-2 product-total-price">{{ item.totalPrice|convert }} {{ currency }}</div>
    </div>
{% else %}
    <div>{{ 'Your cart is empty'|trans }}</div>
{% endfor %}
    {% if totalPrice is defined and totalPrice is not null %}
        <div class="total-price"><span class="desc">Total:</span><span class="price">{{ totalPrice.total|convert }} {{ currency }}</span></div>
    {% endif %}
</div>