{% extends '@Shop/layouts/main-landing.html.twig' %}

{% block body %}
<div class="landing-wrapper">
    <div class="landing-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-header">
                        Start selling with Zenithbay
                    </div>
                    <div class="landing-block-text">
                        <p>Zenithbay is the first marketplace accepting crypto-currencies for payment, offering more than a million varieties of products. We provide opportunities for efficient and easy trading all over the world. Advertising and promotion of your goods we take upon us.</p>
                    </div>
                    <div class="landing-block-action center">
                        <a href="{{ path('shop.feedback', {'type': 'affiliate'}) }}"
                           class="btn btn-primary js-feedback-form-display-btn"
                           data-success-text="Submitted"
                        >Become a seller</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-image">
                        <img src="{{ asset('seller-l-01.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-header">
                        Advantages for sellers
                    </div>
                    <div class="landing-block-text">
                        <ol>
                            <li>Zenithbay is the only marketplace allowing you to trade goods accepting crypto currency payment.</li>
                            <li>Registration and use of the site for promotion of your goods is free.</li>
                            <li>Low commission charged for the sale of goods on the Zenithbay site.</li>
                            <li>Zenithbay provides customer support for users.</li>
                            <li>A huge audience of buyers who are ready to pay in crypto currencies.</li>
                            <li>Lack of a similar marketplace, making up the competition.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-image">
                        <img src="{{ asset('seller-l-02.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-header">
                        Rules of work for sellers
                    </div>
                    <div class="landing-block-text">
                        <ol>
                            <li>It is forbidden to place items that violate any laws of seller's and buyer's country.</li>
                            <li>It is not allowed to post deliberately false information about the goods, delivery, the seller himself.</li>
                            <li>The seller receives cash in payment for the goods reduced by the commission of the Zenithbay marketplace. Payment is made in accordance with the rules of the buyer's protection, i.e. cash is transferred to the seller's account either after the expiration of the buyer's protection period, or if the buyer has confirmed receipt of the goods. The size of the commission and the terms of payment of cash to the seller can be reduced individually as agreed with the managers of Zenithbay.</li>
                        </ol>
                        <p>Until February 1, 2019, the commission for the sale of goods on the Zenithbay site is set at 10%.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="landing-block-image">
                        <img src="{{ asset('seller-l-03.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}