{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Referrals{% endblock %}

{% block body %}
    <h4>Some dashboard here</h4>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('cp.referral.programs') }}">Programs</a>
        </li>
        <li>
            <a href="{{ path('cp.referral.purchases') }}">Purchases</a>
        </li>
        <li>
            <a href="{{ path('cp.referral.withdrawals') }}">Withdrawals</a>
        </li>
    </ul>
{% endblock %}