{# @controller CpBundle:Referral:programSettingsEdit #}
{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    {{ form_start(settingsForm) }}
    {{ form_widget(settingsForm) }}
    <div class="btn-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{{ path('cp.referral.programs') }}" class="btn btn-default">Cancel</a>
    </div>
    {{ form_end(settingsForm) }}
{% endblock %}

{% block page_header %}
    Edit settings for program of user {{ program.user.username }}
{% endblock %}