{# @controller CpBundle:Referral:program #}
{% extends '@Cp/layout/main.html.twig' %}

{% block body %}


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>User</th>
                <th>Created At</th>
                <th>Settings</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
                {# program \Referral\Entity\ReferralProgram #}
                <tr>
                    <td>{{ program.code }}</td>
                    <td>
                        {{ program.user.username }}
                        (<a href="{{ path('cp.user.edit', {'id': program.user.id}) }}" target="_blank">Open</a>)
                    </td>
                    <td>{{ program.createdAt|date }}</td>
                    <td>
                        <ul class="list-unstyled">
                            <li>Count of purchases: {{ program.settings.purchaseCount == 0 ? 'Infinity' : program.settings.purchaseCount }}</li>
                            <li>Cookie Expire: {{ program.settings.cookieExpire == 0 ? 'Infinity' : program.settings.cookieExpire ~ 'd' }}</li>
                            <li>Approve Event: <strong>{{ program.settings.approveEvent }}</strong></li>
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('cp.referral.programs.settings_edit', {'program': program.code}) }}" class="btn btn-primary btn-sm" title="Edit are program settings">
                            <i class="fa fa-cog"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_header %}
    Referral Programs
{% endblock %}