{# filter \Symfony\Component\Form\FormView #}
{# reset_url string #}
<div class="control-panel_filter-block">
    {{ form_start(filter) }}

    <div class="row">
        <div class="col-md-2">{{ form_row(filter.user) }}</div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <h4>Purchase's Date</h4>
                </div>
                <div class="col-md-4">{{ form_row(filter.date.begin, {
                        attr: {
                            class: 'zt-height_30px js-datepicker'
                        }
                    }) }}</div>
                <div class="col-md-4">{{ form_row(filter.date.end, {
                        attr: {
                            class: 'zt-height_30px js-datepicker'
                        }
                    }) }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3">
                    <h4>Purchase's Amount</h4>
                </div>
                <div class="col-md-4">{{ form_row(filter.amount.min) }}</div>
                <div class="col-md-4">{{ form_row(filter.amount.max) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            {{ form_row(filter.status, {
                attr: {
                    class: 'zt-height_30px zt-padding_3px'
                }
            }) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{{ reset_url }}" class="btn btn-default">Reset</a>
    {{ form_end(filter) }}
</div>