{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    <p class="bg-warning zt-margin-t_15px zt-padding_5px">Page in progress</p>

    {% include '@Cp/referral/purchases_filter.twig' with { 'filter': filter, 'reset_url': path('cp.referral.purchases') } %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Purchase Date</th>
                <th>Referral Program</th>
                <th>Amount in USD</th>
            </tr>
        </thead>
        {% for purchase in purchases %}
            {# purchase \Referral\Entity\ReferralPurchase #}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>
                    {% if purchase.purchaseDate is not null %}
                        {{ purchase.purchaseDate|date }}
                    {% endif %}
                </td>
                <td>
                    {{ purchase.referralProgram.code }}
                    (<a href="{{ path('cp.user.edit', {'id': purchase.referralProgram.user.id}) }}">{{ purchase.referralProgram.user.username }}</a>)
                </td>
                <td>
                    {{ purchase.amount }} USD
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block page_header %}Purchases List{% endblock %}

