{# @controller CpBundle:Referral:withdrawals #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Withdrawals List{% endblock %}
{% block body %}
    {% include '@Cp/layout/filter.part.twig' with {'filter': filter, 'reset_url': path('cp.referral.withdrawals')} %}

    <table class="table">
        <thead>
            <tr>
                <th class="zt-width_5pct">Id</th>
                <th class="zt-width_10pct">Created Date</th>
                <th class="zt-width_10pct">Amount</th>
                <th>Amount in crypto</th>
                <th class="zt-width_15pct">User</th>
                <th>Address</th>
                <th class="zt-width_5pct">Status</th>
                <th class="zt-width_10pct"></th>
            </tr>
        </thead>
        {% for withdrawal in withdrawals %}
            {# withdrawal \Referral\Entity\ReferralWithdrawal #}
            <tr>
                <td>{{ withdrawal.id }}</td>
                <td>{{ withdrawal.createdAt|date }}</td>
                <td>{{ withdrawal.amount }} ZBC</td>
                <td>{{ withdrawal.amount|convert(rate=withdrawal.rate) }} {{ withdrawal.currency }}</td>
                <td>{{ withdrawal.user.username }}
                    (<a href="{{ path('cp.user.edit', {'id': withdrawal.user.id}) }}" target="_blank">View</a>)
                </td>
                <td>{{ withdrawal.address }}</td>
                <td>{{ withdrawal.readableStatus }}</td>
                <td>
                    <div class="btn-group-sm">
                        <a href="{{ path('cp.referral.withdrawals.process', {'withdrawal': withdrawal.id}) }}" class="btn btn-primary">
                            <i class="fa fa-cogs"></i>
                        </a>
                        {#<a href="{{ path('cp.referral.withdrawals.cancel', {'withdrawal': withdrawal.id}) }}" class="btn btn-danger">#}
                            {#<i class="fa fa-ban"></i>#}
                        {#</a>#}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(withdrawals) }}
    </div>
{% endblock %}

