{# @controller CpBundle:Referral:processWithdrawal #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Process Withdrawal #{{ withdrawal.id }}{% endblock %}

{% block body %}
    <table class="table table-contents">
        <tr>
            <td>System Status</td>
            <td>{{ withdrawal.readableStatus }}</td>
        </tr>
        <tr>
            <td>Withdrawal registration date</td>
            <td>{{ withdrawal.createdAt|date }}</td>
        </tr>
        <tr>
            <td>User</td>
            <td>{{ withdrawal.user.username }} <a href="mailto:{{ withdrawal.user.emailCanonical }}">{{ withdrawal.user.emailCanonical }}</a> (<a href="{{ path('cp.user.edit', {id: withdrawal.user.id}) }}" target="_blank">open</a>)</td>
        </tr>
        <tr>
            <td>Incoming Balance</td>
            <td>{{ withdrawal.balance }} ZBC</td>
        </tr>
        <tr>
            <td>Withdrawal Amount</td>
            <td>{{ withdrawal.amount }} ZBC</td>
        </tr>
        <tr>
            <td>User will get</td>
            <td>{{ withdrawal.willTake }} {{ withdrawal.currency }}</td>
        </tr>
        <tr>
            <td>Payout Address</td>
            <td>{{ withdrawal.address }}</td>
        </tr>
    </table>

    <h3>Actions</h3>

    {{ form_start(decisionForm, {'attr': {'class': 'js-withdrawal-form'}}) }}
    {{ form_widget(decisionForm.decision, {'attr': {'class': 'js-withdrawal-form-decision'}}) }}
    {{ form_widget(decisionForm) }}
    {{ form_end(decisionForm) }}

    <div class="btn-group-sm">
        {% if canProcess %}
            <button type="button" class="btn btn-primary js-withdrawal-form-send" data-action="{{ constant('Referral\\Entity\\ReferralWithdrawal::COMPLETE') }}">Done</button>
            <button type="button" class="btn btn-danger js-withdrawal-form-send" data-action="{{ constant('Referral\\Entity\\ReferralWithdrawal::CANCELED') }}">Decline</button>
        {% endif %}
        <a href="{{ path('cp.referral.withdrawals') }}" class="btn btn-default">Cancel</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/adminWithdrawals.js') }}"></script>
{% endblock %}