{# @controller UserBundle:User:registration #}
{% extends '@Shop/layouts/one-column-form.twig' %}

{% block section_class %}register-form{% endblock %}
{% block form_title %}Create an Account{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="already-registered">
        <a href="{{ path('fos_user_security_login') }}">Already have an account? Log in</a>
    </div>
    <div class="form-action clearfix mt-none">
        <button type="submit" class="btn btn-primary">{{ 'Register'|trans }}</button>
        <a href="{{ path('homepage') }}" class="btn-default btn">{{ 'Back'|trans }}</a>
    </div>

    {{ form_end(form) }}
{% endblock %}