{% extends '@Shop/layouts/one-column.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="important-message">Successful registration! Go to <a href="{{ path('fos_user_security_login') }}">Login</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}