.ajax-loader-wrapper {
    position: relative;
}
.ajax-loader {
    position: absolute;
    display: block;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}
.ajax-loader-16 {
    background: #fff url('../img/ajax-loader-16.gif') center center no-repeat;
}
.ajax-loader-32 {
    background: #fff url('../img/ajax-loader-32.gif') center center no-repeat;
}
.ajax-loader-64 {
    background: #fff url('../img/ajax-loader-64.gif') center center no-repeat;
}
.ajax-loader-128 {
    background: #fff url('../img/ajax-loader-128.gif') center center no-repeat;
}