
.zt-width_5pct {
  width: 5% !important;
}

.zt-width_10pct {
  width: 10% !important;
}

.zt-width_15pct {
  width: 15% !important;
}

.zt-width_20pct {
  width: 20% !important;
}

.zt-width_25pct {
  width: 25% !important;
}

.zt-width_40pct {
  width: 40% !important;
}

.zt-width_60pct {
  width: 60% !important;
}

.zt-width_75pct {
  width: 75% !important;
}

.zt-width_64px {
  width: 64px !important;
}

.zt-width_128px {
  width: 128px !important;
}

.zt-width_220px {
  width: 220px !important;
}

.zt-height_30px {
  height: 30px !important;
}

.zt-margin-r_10px {
  margin-right: 10px !important;
}

.zt-margin-t_15px {
  margin-top: 15px !important;
}

.zt-margin-t_25px {
  margin-top: 25px !important;
}

.zt-margin-b_15px {
  margin-bottom: 15px !important;
}

.zt-padding_3px {
  padding: 3px !important;
}

.zt-padding_5px {
  padding: 5px !important;
}

.zt-font-weight_b {
  font-weight: bold !important;
}

.zt-color_red {
  color: red !important;
}

.zt-display-ib {
  display: inline-block !important;
}