{# @controller ShopBundle:Catalog:product #}
{% extends '@Shop/layouts/one-column.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
    {{ breadcrumbs() }}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5be46ef8e689d1c8"></script>
    <div class="container">
        <div class="row">
            <div class="store-name">
                Store: <a href="{{ path('shop.catalog.seller', {'seller': product.seller.id}) }}">{{ product.seller.name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-view {% if product.active %}product-available{% else %}product-unavailable{% endif %}">
                    <div class="product-essential">
                        <div class="row">
                            <div class="product-img-box col-sm-5">
                                <div class="product-img-box-wrapper">
                                    <div class="product-img-wrapper">
                                        <img
                                            src="{{ image_path(product.mainImage) }}"
                                            class="js-product-zoom"
                                            id="product-zoom"
                                            data-zoom-image="{{ image_path(product.mainImage) }}"
                                            alt="{{ product.mainImage.alt }}">
                                    </div>

                                    <a href="#" class="product-img-zoom js-product-img-zoom" title="Zoom">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </div>
                                <div class="owl-carousel manual js-product-images-carousel" id="productGalleryThumbs">
                                    {# if product.images is empty #}
                                        <div class="product-img-wrapper">
                                            <a href="#"
                                               data-image="{{ image_path(product.mainImage) }}"
                                               data-zoom-image="{{ image_path(product.mainImage) }}"
                                               class="product-gallery-item js-product-gallery-item">
                                                <img src="{{ image_path(product.mainImage) }}_50x50.jpg" alt="{{ product.mainImage.alt ?? product.title }}">
                                            </a>
                                        </div>
                                    {# endif #}
                                    {% for image in product.images %}
                                        <div class="product-img-wrapper">
                                            <a href="#"
                                               data-image="{{ image_path(image) }}"
                                               data-zoom-image="{{ image_path(image) }}"
                                               class="product-gallery-item  js-product-gallery-item">
                                                <img src="{{ image_path(image) }}_50x50.jpg" alt="{{ image.alt ? image.alt : product.title }}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="product-details-box col-sm-7">
                                <h1 class="product-name">
                                    {{ product.title }}
                                </h1>

                                <div class="product-detail-info">
                                    <div class="product-price-box">
                                        <span class="product-price">
                                            {% if product.active %}
                                                {{ product.publicPrice|convert }} {{ currency }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <p class="availability">
                                        <span class="font-weight-semibold">Availability:</span>
                                        {% if product.active %}In Stock{% else %}Unavailable{% endif %}
                                    </p>
                                </div>

                                <div class="product-actions detail-product-actions">
                                    {% if product.active %}
                                        {{ addToCartButton(product.id) }}
                                    {% endif %}
                                    <div class="actions-right">
                                        {{ wishButton(product.id) }}
                                    </div>
                                </div>

                                <div class="delivery-conditions">
                                    <div class="alert alert-danger alert-delivery-conditions" role="alert">
                                        <div class="alert-text">Shipping</div>
                                        <div class="alert-description">
                                            <div>
                                                <span class="delivery-info-item">Expected delivery time: </span><span class="delivery-info-value">
                                                    {{ product.deliveryInterval }} days
                                                </span>
                                            </div>
                                            <div><span class="delivery-info-item">Delivery in <span class="delivery-info-value">60 days</span> or full refund guaranteed by seller</span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="buyer-guarantee">
                                    <div class="alert alert-danger alert-buyer-protection" role="alert">
                                        <div class="alert-text">Buyer protection</div>
                                        <div class="alert-description">
                                            <div><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                Full Refund if you don't receive your order</div>
                                            <div><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                Full or Partial Refund , if the item is not as described</div>
                                            <div><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                Returns accepted if product is not as described, buyer pays return shipping fee. Or keep the product & agree refund with seller</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="didnt-find">
                                    <a href="{{ path('shop.feedback', {'type': 'notFoundProduct'}) }}" class="btn btn-light js-feedback-form-display-btn">Didn’t find what you were looking for?</a>
                                </div>

                                <div class="product-short-desc">
                                    <p>{{ (product.shortDescription ?? product.title)|raw }}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel-group product-panel" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                        Description
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="accordion-body collapse">
                                <div class="panel-body">
                                    <div class="product-desc-area">
                                        {{ (product.description ?? product.title)|replace_image_host|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            You can buy {{ product.title }} for {{ currency.name }}.
                        </div>
                    </div>
                </div>
                {{ itemBlock('configurableProducts', {
                    title: 'More products from this seller',
                    supplier: product.seller,
                    category: category.id,
                    price: product.price.value,
                    exceptProducts: [ product.id ]
                }) }}

                {{ itemBlock('configurableProducts', {
                    title: 'More products from other sellers',
                    category: category.id,
                    price: product.price.value
                }) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/catalog.css') }}">
{% endblock %}