<ul class="products-grid columns4">
    {% for product in products %}
        {% include '@Shop/catalog/product_card.twig' with { 'product': product } only %}

        {#<div class="product__item">#}
            {#<div class="image clearfix">#}
                {#<img src="{{ image_path(product.mainImage) }}" class="img-rounded" alt="{{ product.mainImage.alt }}" title="{{ product.mainImage.title }}">#}
            {#</div>#}
            {#<div class="title">#}
                {#<a href="{{ relativePageAlias('product', product.id) }}">{{ product.title }}</a>#}
            {#</div>#}
            {#<div class="price">#}
                {#<span class="value">{{ product.price.totalPrice|convert }}</span>#}
                {#<span class="currency">{{ currency }}</span>#}
            {#</div>#}
            {#{{ addToCartButton(product.id) }}#}
        {#</div>#}
    {% endfor %}
</ul>