{# product \Catalog\ORM\Entity\Product #}
<li class="product-wrapper">
    <div class="product js-product-card">
        <figure class="product-image-area">
            <a href="{{ relativePageAlias('product', product.id) }}" title="{{ product.title }}" class="product-image">
                <img src="{{ image_path(product.mainImage) }}_220x220.jpg" alt="{{ product.title }}">
            </a>
        </figure>
        <div class="product-details-area">
            <h2 class="product-name">
                <a href="{{ relativePageAlias('product', product.id) }}" title="{{ product.title }}">
                    {{ product.title }}
                </a>
            </h2>

            <div class="product-price-box">
                <span class="product-price">{{ product.publicPrice|convertTo }} {{ currency }}</span>
            </div>

            <div class="product-actions">
                {{ wishButton(product.id) }}
                {{ addToCartButton(product.id) }}
            </div>
        </div>
    </div>
</li>