{# @controller ShopBundle:Catalog:search #}
{% extends '@Shop/layouts/two-column-catalog.twig' %}

{% block content %}

    {% if products.count %}
        <h3>Search results for: <strong>'{{ query }}'</strong></h3>
        <div class="clarify-category clearfix">
            <h4>Found in categories:</h4>
            {% for category in foundCategories %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="clarify-category-item"><a href="{{ slugPath('category', category.id, {q: query}) }}">{{ category.title }}</a></div>
                </div>
            {% endfor %}
        </div>
        <div class="didnt-find">
            <a href="{{ path('shop.feedback', {'type': 'notFoundProduct'}) }}" class="btn btn-light js-feedback-form-display-btn">Didn’t find what you were looking for?</a>
        </div>

        <div class="toolbar mb-none">
            <div class="sorter">
                {{ sorting_links(sorting) }}
                {#<div class="view-mode">#}
                {#<span title="Grid">#}
                {#<i class="fa fa-th"></i>#}
                {#</span>#}
                {#<a href="#" title="List">#}
                {#<i class="fa fa-list-ul"></i>#}
                {#</a>#}
                {#</div>#}

                {#<ul class="pagination">#}
                {#<li class="active"><a href="#">1</a></li>#}
                {#<li><a href="#">2</a></li>#}
                {#<li><a href="#"><i class="fa fa-caret-right"></i></a></li>#}
                {#</ul>#}
                <div class="js-pagination-container">
                    {{ knp_pagination_render(products, '@Shop/pagination/pagination.twig') }}
                </div>
            </div>
        </div>
        {% include '@Shop/catalog/products_list.twig' with {products: products} only %}
    {% else %}
        <h3>Sorry, your search <strong>'{{ query }}'</strong> did not match any products. Please try again.</h3>
    {% endif %}


    <div class="toolbar-bottom">
        <div class="toolbar">
            <div class="sorter">
                <div class="js-pagination-container">
                    {{ knp_pagination_render(products, '@Shop/pagination/pagination.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block sidebar %}#}
    {#{% if foundCategories is defined %}#}
        {#<h3>We found products in following categories:</h3>#}
        {#<ul class="nav nav-siderbar">#}
            {#{% for category in foundCategories %}#}
                {#<li>#}
                    {#<a href="{{ path('shop.catalog.category', { category: category.id, q: query } ) }}">#}
                        {#{{ category.title }}#}
                    {#</a>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}
    {#{% else %}#}
        {#{{ parent() }}#}
    {#{% endif %}#}
{#{% endblock %}#}