{# @controller ShopBundle:Catalog:unavailable #}
{% extends '@Shop/layouts/two-column-catalog.twig' %}

{% block title %}Products are unavailable{% endblock %}

{% block content %}
    <div class="alert alert-danger alert-danger-exclamation" role="alert">
        <span class="alert-text">Sorry, following products are unavailable now:</span>
    </div>
    <ul class="list-unavailable">
        {% for product in products %}
            <li>{{ product.title }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('shop.cart.index') }}" class="btn btn-primary">View cart</a>
    <a href="{{ path('homepage') }}" class="btn btn-success">Return to store</a>
{% endblock %}


