{# form \Shop\Form\MessageFormType #}
{# type string #}
{# target int #}
{# allowAttachments bool #}
<h3>Add new message</h3>
{{ form_start(form, {
    action: path('shop.account.chat.send', {type: type, target: target}),
    attr: {
        class: 'js-chat-message-form'
    }
}) }}
{{ form_widget(form.message, {
    attr: {
        class: 'js-chat-message-message-field'
    }
}) }}

{% if allowAttachments %}
    {# @todo move to form type #}
    <div class="js-chat-message-attachments-list message-attachments-list clearfix" data-allow-attachments="true">

    </div>
    <legend>
        You can upload images (jpg, gif, png), which less than 2mb each
    </legend>
    <button
        type="button"
        data-url="{{ path('shop.account.chat.attachment', {'type': 'dispute'}) }}"
        data-token-url="{{ path('shop.account.chat.token', {'type': 'dispute'}) }}"
        class="btn btn-success js-chat-message-attachments-add-btn"
    >
        Add attachments
    </button>

    <script type="text/template" id="js-chat-message-preview-item-template">
        <div class="preview-item-wrap js-chat-attachments-preview-item-cnt" data-file-id="__id__">
            <img src="__src__" class="preview-item">
            <div class="attachment-preview-handlers clearfix">
                <div class="js-chat-message-attachment-zoom-btn chat-message-attachment-zoom-btn">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="js-chat-message-attachment-drop-btn chat-message-attachment-drop-btn">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </script>
{% endif %}
<button type="submit" class="btn btn-primary js-chat-message-send-btn">Send</button>
{{ form_end(form) }}