{# message \Order\Entity\Message\BaseMessage #}
{% set isFrom = message.from.id == user.id %}
<div class="message-wrap {{ isFrom ? 'from' : 'to' }}-message">
    <div class="message-header">
        <div class="message-author display-inline"><i class="far fa-user"></i> {{ message.fromDisplayName }}</div>
        <div class="message-date display-inline">{{ message.createdAt|date }}</div>
    </div>
    <div class="message-body">
        {{ message.message }}
    </div>
    {% if message.allowAttachments and message.attachments %}
        <div class="message-attachments-list clearfix">
            {% for attachment in message.attachments %}
            <div class="preview-item-wrap js-chat-attachments-preview-item-cnt">
                <img src="{{ image_path(attachment) }}" class="preview-item">
                <div class="attachment-preview-handlers clearfix">
                    <div class="js-chat-message-attachment-zoom-btn chat-message-attachment-zoom-btn" data-image="{{ image_path(attachment) }}">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>