{# messages \Order\Entity\Message\BaseMessage[] #}
<div class="chat-wrap js-chat-messages-list-cnt">
    {% for message in messages %}
        {% include '@Shop/account/chat/message.part.twig' with { message: message } only %}
    {% endfor %}
</div>