{% extends '@Kerosin/layout/modal.twig' %}

{% block preBody %}
    {# not safe #}
    {{ form_start(settingForm, {
        attr: {
            action: path('cp.setting.edit', {setting: currentSettingName}),
            class: 'js-setting-form'
        }
    }) }}
{% endblock %}

{% block body %}
    {{ form_widget(settingForm) }}
{% endblock %}

{% block footer %}
    <button type="submit" class="btn btn-primary">Apply</button>
    <button type="button" class="btn btn-cancel js-cancel-btn js-close-modal">Cancel</button>
{% endblock %}

{% block postBody %}
    {{ form_end(settingForm) }}
{% endblock %}