{# @controller CpBundle:Setting:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}System Settings{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th class="zt-width_5pct"></th>
        </tr>
        {% for setting in settings %}
            {# setting \Kerosin\Entity\SystemSetting #}
            <tr>
                <td>{{ setting.title }}</td>
                <td>{{ setting.value }}</td>
                <td>
                    <a href="{{ path('cp.setting.edit') }}" data-setting="{{ setting.name }}" class="btn btn-primary btn-sm js-setting-edit-modal">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(settings) }}
{% endblock %}