<aside class="sidebar">

    <h4>My Account</h4>
    <ul class="nav nav-list">
        {% for item in items %}
            <li {% if item.active %}class="active"{% endif %}>
                <a href="{% if item.route is defined %}{{ path(item.route) }}{% endif %}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>

</aside>