<ul class="nav nav-pills" id="mainNav">
    <li class="dropdown">
        <a class="dropdown-toggle" href="{{ path('homepage') }}">
            Catalogue
        </a>
        <ul class="dropdown-menu">
            {% set prev = false %}
            {% for category in categories %}
                {% if prev and prev.depth < category.depth %}
                    <ul class="dropdown-menu">
                {% endif %}

                {% if prev and prev.depth > category.depth %}
                    </ul>
                </li>
                {% endif %}
                <li {% if category.depth == 1 %}class="dropdown-submenu"{% endif %} data-depth="{{ category.depth }}">
                    <a href="{{ slugPath('category', category.id, {_ignoreSeller: true}) }}">{{ category.title }}</a>
                {% if prev and prev.depth == category.depth %}
                    </li>
                {% endif %}
                {% set prev = category %}
            {% endfor %}
        </ul>
    </li>
</ul>