<div class="panel-categories panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category" aria-expanded="true">
                {{ 'Categories'|trans }}
            </a>
        </h4>
    </div>
    <div id="panel-filter-category" class="accordion-body collapse in">
        <div class="panel-body">
            <ul>
                {% for category in categories %}
                    <li>
                        <a href="{{ slugPath('category', category.id) }}">
                            {{ category.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>