{# id int #}
{# isAdd bool #}
<a href="{{ path('shop.account.wish.drop', {'product': id}) }}"
   {% if isAdd %}
       class="addtowishlist"
   {% else %}
       class="addtowishlist js-link-require-confirmation"
       title="Remove from Wishlist"
       data-confirm-title="Delete from Wishlist"
       data-confirm-message="Would you delete it from Wishlist?"
   {% endif %}
>
    <i class="fa fa-{% if isAdd %}heart{% else %}trash{% endif %}"></i>
</a>