{# @controller ShopBundle:WishProduct:index #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
<div class="js-wish-list-container" data-url="{{ path('shop.account.wish.index') }}">
    {% include '@Shop/account/wish/list.part.twig' %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/catalog.css') }}">
{% endblock %}