<ul class="wishlist products-list">
    {% for wish in list %}
        {# product \Catalog\ORM\Entity\Product #}
        {% set product = wish.product %}
        <li>
            <div class="product product-list js-product-card">
                <figure class="product-image-area">
                    <a href="{{ relativePageAlias('product', product.id) }}" title="{{ product.title }}" class="product-image">
                        <img src="{{ image_path(product.mainImage) }}_120x120.jpg" alt="{{ product.title }}">
                    </a>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name">
                        <a href="{{ relativePageAlias('product', product.id) }}" title="{{ product.title }}">{{ product.title }}</a>
                    </h2>

                    <div class="product-price-box">
                        <span class="product-price">{{ product.publicPrice|convert }} {{ currency }}</span>
                    </div>

                    <div class="product-actions wishlist-product-actions">
                        {{ addToCartButton(product.id) }}
                        <div class="actions-right">
                            <a href="{{ path('shop.account.wish.drop', {'product': product.id}) }}" class="btn-remove removefromwishlist js-wish-page_drop-wish">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% else %}
        <li>
            <p>You don't have anything in your wishlist</p>
        </li>
    {% endfor %}
</ul>

<div class="pagination">
    {{ knp_pagination_render(list, '@Shop/pagination/pagination.twig') }}
</div>