{% extends '@Kerosin/layout/email.twig' %}

{% block content %}
    <p>Order is automatically confirmed by the system because no action has been received from buyer within Buyer protection period</p>
{% endblock %}