{% extends '@Kerosin/layout/email.twig' %}
{# user \User\Entity\User #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>Seller has sent you a new message.</p>
    <p>Dear {{ user.username }},</p>
    <p>You have received a message from Seller on <a href="{{ absolute_url(path('shop.account.order.chat', {'hash': order.hash})) }}">ZenithBay</a>.</p>
{% endblock %}