{% extends '@Kerosin/layout/email.twig' %}
{# order \Order\Entity\Order #}
{% block content %}
    <p>Your payment has been received and your order is now being processed. Your order details are shown below for your reference:</p>
    {% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order } only %}
{% endblock %}