{% extends '@Kerosin/layout/email.twig' %}
{# order \Order\Entity\Order #}

{% block content %}
    <p>Thanks for your order <a href="{{ absolute_url(path('shop.account.orders.detail', {'hash': order.hash})) }}">{{ order.code }}</a> at ZenithBay.</p>
    <p>Your order is on-hold until we confirm payment has been received. Your order details are shown below for your reference:</p>
    {% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order } only %}
{% endblock %}