{# order \Order\Entity\Order #}
{# full bool #}
{% extends '@Kerosin/layout/email.twig' %}

{% block content %}
    <p>Dear {{ order.user.username }},</p>
    <p>Your order <a href="{{ url(path('shop.account.orders.detail', {hash: order.hash})) }}">{{ order.code }}</a> at <a href="{{ url(path('homepage')) }}">ZenithBay</a> has been {{ full ? 'fully' : 'partially'}} refunded.</p>
{% endblock %}

