{# order \Order\Entity\Order #}
<p>Greetings. Your order {{ order.code }} at <a href="{{ url(path('homepage')) }}">ZenithBay</a> has been delivered. Your order details are shown below for your reference:</p>
{% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order } only %}
<p>Buyer protection of the order <a href="{{ url(path('shop.account.orders.detail', {hash: order.hash})) }}">{{ order.code }}</a> ends on {{ order.eolDate|data }}.</p>
<ul>
    <li>Are you satisfied with the items you have received? Click
        <a href="{{ absolute_url(path('shop.account.order.accept', {'hash': order.hash})) }}">"acknowledge receipt of an order"</a></li>
    <li>If you have not received your order, or you are not satisfied with your items, you can click <a href=\"[order_open_dispute]\">"Open Dispute"</a></li>
</ul>
<p>Please note if there is no action taken within Buyer protection period, your order will be automatically closed.</p>