{# order \Order\Entity\Order #}
<p>Hi there. Your order
    <a href="{{ absolute_url( path('shop.account.orders.detail', {'hash': order.hash})) }}">{{ order.code }}</a>
    on <a href="{{ absolute_url(path('homepage')) }}">ZenithBay</a>
    has been shipped. Your order details are shown below for your reference:</p>
{% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order } only %}
<p>The purchase protection of order  <a href="{{ absolute_url(path('shop.account.orders.detail', {'hash': order.hash})) }}">{{ order.code }}</a>
    will end on {{ order.eolDate|date }}.</p>
<ul>
    <li>If you are satisfied with the items you have received? then you can click
        <a href="{{ absolute_url(path('shop.account.order.accept', {'hash': order.hash})) }}">Confirm Order Received</a>
    </li>
</ul>
<p>Please note if there is no action taken within purchase protection, your order will be automatically finalized with payment released.</p>