{# order \Order\Entity\Order #}
{% extends '@Kerosin/layout/email.twig' %}

{% block content %}
    <p>Greetings. Your order {{ order.code }} at
        <a href="{{ absolute_url( path('homepage') ) }}">ZenithBay</a> has updated its status.</p>
    <p>You can access your personal account to view the <a href="{{ absolute_url( path('shop.account.orders.detail', {'hash': order.hash}) ) }}">order</a>.</p>
{% endblock %}