<h2>Your referral code: <strong>{{ program.code }}</strong></h2>
<h2>Your link: <strong>{{ mainDeepLink }}</strong></h2>
<hr>
<h4>Generate referral links</h4>
<div class="form-group">
    <textarea class="form-control js-referral-links-textarea"></textarea>
    <div class="help-block">
        Separate links by line
    </div>
    <div class="error hide js-generator-error"></div>
</div>
<button
    type="button"
    class="btn btn-success js-referral-links-btn"
    data-href="{{ path('shop.referrals.link_generate') }}"
    data-process-text="{{ 'Generating'|trans }}"
    data-normal-text="{{ 'Generate Links'|trans }}"
>
    {{ 'Generate Links'|trans }}
</button>
<button type="button" class="btn btn-default js-referral-links-clear">Clear</button>
<div class="links-generator-result js-links-generator-result hide">
    <h4>Generated Links:</h4>
    <div class="form-group">
        <textarea class="form-control js-links-generator-result-textarea" readonly></textarea>
    </div>
    <button type="button" class="btn btn-primary js-links-to-clipboard">Copy to Clipboard</button>
</div>