{# historyItems \User\Entity\BalanceChangeLog[] #}
{% if historyItems.count > 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Operation Code</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Comment</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        {% for history in historyItems %}
            <tr>
                <td>{{ history.createdAt|date }}</td>
                <td>
                    {% if history.withdrawal is not null and history.withdrawal.code %}
                        {{ history.withdrawal.code }}
                    {% else %}
                        {{ history.transactionHash.visibleCode }}
                    {% endif %}
                </td>
                <td>{{ history.readableType }}</td>
                <td>{{ history.amount }} ZBC</td>
                <td>{{ history.comment }}</td>
                <td>{{ history.readableStatus }}</td>
                <td>
                    {% if history.withdrawal is not null and history.withdrawal.canBeCanceledByUser %}
                    <a href="{{ path('shop.referrals.withdraw_cancel', { operationCode: history.withdrawal.code }) }}"
                       class="btn btn-sm btn-danger"
                       title="Cancel Withdrawal"
                    >
                        <i class="fas fa-ban"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    History is empty
{% endif %}

<div class="pagination">
    {{ knp_pagination_render(historyItems, '@Shop/pagination/pagination.twig') }}
</div>