<div class="js-withdrawal-container">

    <div class="bonuses-balance">
        <span class="referral-balance">Your balance: {{ balance }} ZBC</span>
        <a class="referral-history js-tab-link" href="#history">View history</a>
    </div>

    {% if zbcAmounts %}
    <p>ZBC price: <span class="bold">{{ currencyRate('ZBC') }} USD</span></p>
    <p><span class="bold">{{ balance }} ZBC is equivalent to:</span></p>
    <table class="table table-bordered table-striped">
        {% for currency in zbcAmounts %}
            <tr>
                <td>{{ currency.name }}</td>
                <td>{{ currency.amount|number_format(5) }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <button
            type="button"
            class="btn btn-primary js-withdraw-request"
            data-url="{{ path('shop.referrals.withdraw_request') }}"
    >
        Place a withdrawal request
    </button>

    <div id="withdrawal-page-help">
        <div class="alert alert-danger alert-danger-exclamation" role="alert">
            <div class="alert-text"></div>
            <div class="alert-description">
                <p>Due to the high volatility of the cryptocurrency, the ZBC rate is pegged to four fiat currencies: USD, EUR, JPY, CNH.</p>
                <p>For example:</p>
                <p>The BTC rate is $4000, and you get bonuses in the equivalent of $400, which is 0.1 BTC.
                    supposing that after some time the BTC course became equal to $2000, and 0.1 BTC will be equal to $200.</p>
                <p>To avoid this situation, ZBC is pegged to fiat currencies.</p>
                <p>If you have bonuses in the equivalent of $400, then you will always receive exactly this amount in the cryptocurrencies.</p>
                <p>If you want to fix your profit in the form of cryptocurrency, you should withdraw funds more often.</p>
                <p>At the moment, you can withdraw your funds once a day.</p>
            </div>
        </div>
    </div>
</div>