<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>
                {{ item.product.title }}
            </strong>
        </h3>
    </div>
    <table class="table table-striped table-contents">
        <tr>
            <td>Quantity</td>
            <td>{{ item.quantity }}</td>
        </tr>
        <tr>
            <td>Inner price (USD)</td>
            <td>{{ item.innerPrice }}</td>
        </tr>
        <tr>
            <td>Public Price (USD)</td>
            <td>
                {{ item.publicPrice|convert(rate=item.publicRateValue) }}
            </td>
        </tr>
        <tr>
            <td>Public Price ({{ item.currency }})</td>
            <td> {{ item.publicPrice }} </td>
        </tr>
        <tr>
            <td>Currency Rate</td>
            <td> {{ item.publicRateValue }}</td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td></td>
        </tr>
        <tr>
            <td>Supplier Location</td>
            <td></td>
        </tr>
        <tr>
            <td>Shipping Status</td>
            <td></td>
        </tr>
        <tr>
            <td>Track Code</td>
            <td></td>
        </tr>
    </table>

    <div class="panel-footer">
        <button
                type="button"
                class="btn btn-success"
                data-toggle="ajax-modal"
        >
            Select Supplier
        </button>
        <button type="button" class="btn btn-primary">Set Track Code</button>
    </div>
</div>