{% extends '@Cp/layout/main.html.twig' %}
{# @controller CpBundle:Order:dispute #}
{# position \Order\Entity\OrderProduct #}
{# product \Catalog\ORM\Entity\Product #}
{% set position = dispute.orderPosition %}
{% set product = position.product %}

{% block page_header %}Dispute #{{ dispute.id }}{% endblock %}

{% block body %}
    <a href="{{ path('cp.order.process', {'id': position.order.id}) }}" class="btn btn-default zt-margin-b_15px">Go back to Order</a>

    <div class="dispute-wrap">

        <h4>Dispute's Info</h4>
        <div class="dispute-info">
            <table class="table table-striped table-contents">
                <tr>
                    <td>Created Date</td>
                    <td>{{ dispute.createdAt|date }}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>
                        {{ dispute.orderPosition.order.user.username }}
                        (<a href="{{ path('cp.user.edit', {'id': dispute.orderPosition.order.user.id }) }}" target="_blank">
                            Profile
                        </a>)
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {{ dispute.readableStatus }}
                        {% if dispute.isClose %}
                            <span class="zt-color_red">(Closed)</span>
                        {% endif %}
                    </td>
                </tr>
                {% if dispute.refundAmount is not empty %}
                    <tr>
                        <td>Refund Amount</td>
                        <td>{{ dispute.refundAmount }} {{ dispute.currency }}</td>
                    </tr>
                {% endif %}
                {% if dispute.isProcessingRefund %}
                    <tr>
                        <td>Refund was completed</td>
                        <td>
                            <a href="{{ path('cp.order.dispute.refundComplete', {'dispute': dispute.id}) }}" class="btn btn-success">
                                Complete
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <h4>Position's Info</h4>
        <div class="product-info">
            <table class="table table-striped table-contents">
                <tr>
                    <td>Seller's name</td>
                    <td>{{ product.sellerName }}</td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>
                        {{ product.title }}
                        <ul class="list-unstyled">
                            <li><a href="{{ product.externalLink }}" target="_blank">Open external source</a></li>
                            <li><a href="{{ path('shop.catalog.product', {'id': product.id}) }}" target="_blank">Open catalog</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td>{{ position.quantity }}</td>
                </tr>
                <tr>
                    <td>Public amount in USD</td>
                    <td>{{ position.publicPrice }}</td>
                </tr>
                <tr>
                    <td>Amount in crypto or bonuses</td>
                    {% set mainPayment = position.order.mainPayment %}
                    <td>{{ position.publicPrice|convert(mainPayment.currency, mainPayment.rate) }} {{ mainPayment.currency }}</td>
                </tr>
            </table>
        </div>

        <div class="dispute-chat">
            {% include '@Cp/chat/list.part.twig' with { messages: messages } only %}

            {% if isAllowChat %}
                <div class="dispute-chat-form-wrap">
                    {{ form_start(disputeForm) }}
                    {{ form_row(disputeForm.action, {
                        attr: {
                            class: 'js-dispute-chat-form-action-selector'
                        }
                    }) }}

                    <div class="js-dispute-chat-form-amount-field hidden">
                        {{ form_row(disputeForm.amount) }}
                    </div>

                    {{ form_widget(disputeForm.message) }}
                    <button type="submit" class="btn btn-primary">Send</button>
                    {{ form_end(disputeForm) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}