{# form \Cp\Form\Filter\OrderFilterType #}

<div class="entity-filter__form">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.client, {
                attr: {
                    class: 'zt-width_220px'
                }
            }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.code, {
                attr: {
                    class: 'zt-width_220px'
                }
            }) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.status, {
                attr: {
                    class: 'zt-width_220px'
                }
            }) }}
        </div>
        <div class="col-md-2">{{ form_row(form.hasDispute) }}</div>
    </div>
    <button type="submit" class="btn btn-success">{{ 'Apply Filter'|trans }}</button>
    <a href="{{ path('cp.order.index') }}" class="btn btn-default">{{ 'Reset'|trans }}</a>
    {{ form_end(form) }}
</div>