{# @controller CpBundle:Order:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block title %}
    Control Panel - Orders Workflow
{% endblock %}

{% block page_header %}
    Orders Workflow
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/adminOrdersPage.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/adminOrdersPage.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include '@Cp/order/filter_form.twig' with { form: form } only %}
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th class="zt-width_10pct">Client</th>
                <th>Code</th>
                <th>Created Date</th>
                <th class="zt-width_10pct">End of Life Date</th>
                <th>Status</th>
                <th>Inner price</th>
                <th>Public price<br><small>With delivery price</small></th>
                <th>Public coin price<br><small>With delivery price</small></th>
                <th>Disputes</th>
                <th></th>
            </tr>
        </thead>
        {% for order in orders %}
            {# order \Catalog\ORM\Entity\Order #}
            {% set orderCurrency = order.mainPayment ? order.mainPayment.currency : currency %}
            {% set orderRate = order.mainPayment ? order.mainPayment.rate : null %}
            <tr class="{{ order.eolDate|isCriticalOrderLifeTime ? 'order-is-critical' : ''}}">
                <td>{{ order.id }}</td>
                <td>
                    {% if order.user %}
                    {{ order.user.username }} (<a href="{{ path('cp.user.edit', {'id': order.user.id}) }}" target="_blank">Open</a>)
                    {% else %}
                        Anonymous
                    {% endif %}
                </td>
                <td>{{ order.code }}</td>
                <td>{{ order.createdAt|date(format="Y/m/d H:i:s")  }}</td>
                <td>
                    {% if order.eolDate is null %}
                        None
                    {% else %}
                        {{ order.eolDate|date }}
                    {% endif %}
                </td>
                <td class="order-status {{ order.currentStatus.type|statusCssClass }}">{{ order.currentStatus.readableStatus }}</td>
                <td>{{ order.totalInnerPrice }} USD</td>
                <td>{{ order.totalPrice.total }} USD</td>
                <td>{{ order.totalPrice.total|convert(orderCurrency, orderRate) }} {{ orderCurrency }}</td>
                <td>
                    {% if order|hasDisputesInOrder %}
                        <ul class="list-unstyled">
                        {% for dispute in order.disputes %}
                            <li>
                                <a href="{{ path('cp.order.dispute', {'dispute': dispute.id}) }}">
                                    Go to #{{ dispute.id }} ({{ dispute.readableStatus }})
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="#" class="btn btn-default js-toggle-products" data-id="{{ order.id }}" title="Show products in the Order">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        <a href="{{ path('cp.order.process', {id: order.id}) }}" class="btn btn-primary" title="Handle an Order" target="_blank">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        {% if order.currentStatus.opened %}
                            <a href="{{ path('cp.order.cancel', {id: order.id}) }}" class="btn btn-danger" title="Cancel an Order">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr class="order-products hide js-order-products-container" data-order-id="{{ order.id }}">
                <td colspan="11">
                    <table class="table table-striped">
                        <tr>
                            <th>Status</th>
                            <th>Title</th>
                            <th>Quantity</th>
                            <th>Inner price</th>
                            <th>Public price</th>
                            <th>Public coin price</th>
                        </tr>
                        {% for item in order.orderProducts %}
                            {# item \Catalog\ORM\Entity\OrderPosition #}
                            <tr>
                                <td>{{ item.readableStatus }}</td>
                                <td>
                                    {{ item.product.title }}
                                    <a href="{{ path('shop.catalog.product', {id: item.product.id}) }}"><i class="fas fa-link"></i></a>
                                    <a href="{{ item.product.externalLink }}"><i class="fas fa-external-link-alt"></i></a>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.innerPrice }}</td>
                                <td>{{ item.publicPrice }} USD</td>
                                <td>{{ item.publicPrice|convert(orderCurrency, orderRate) }} {{ orderCurrency }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(orders) }}
    </div>
{% endblock %}