{# @Controller CpBundle:Order:process #}
{% extends '@Cp/layout/main.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/adminOrdersPage.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/adminOrdersPage.css') }}">
{% endblock %}

{% block page_header %}
    Process order #{{ order.id }} # {{ order.code }}
{% endblock %}

{% block title %}
    Process order #{{ order.id }} #{{ order.code }}
{% endblock %}

{% block body %}
    <a href="{{ path('cp.order.index') }}">Back</a>

    <ul class="nav nav-tabs">
        <li>
            <a href="#overview" data-toggle="tab">Overview</a>
        </li>
        <li class="active">
            <a href="#products" data-toggle="tab">Cart Summary</a>
        </li>
        {% if order.browserData is not null %}
        <li>
            <a href="#browser-data" data-toggle="tab">Browser Info</a>
        </li>
        {% endif %}
        <li>
            <a href="#chat" data-toggle="tab">Chat with customer</a>
        </li>
    </ul>

    <div class="tab-content order-tabs">
        <div class="tab-pane" id="overview">
            {% include '@Cp/order/overview_tab/tab.twig' with { order: order } only %}
        </div>
        <div class="tab-pane active" id="products">
            {% include '@Cp/order/cart_tab/tab.twig' with { order: order } only %}
        </div>
        {% if order.browserData is not null %}
        <div class="tab-pane" id="browser-data">
            {% include '@Cp/order/browser_tab/tab.twig' with { order: order } only %}
        </div>
        {% endif %}
        <div class="tab-pane" id="chat">
            {% include '@Cp/order/chat_tab/tab.twig' %}
        </div>
    </div>

{% endblock %}

