{% extends '@Kerosin/layout/email.twig' %}
{# dispute \Order\Entity\Dispute #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>The {{ order.user.username }}'s dispute on {{ dispute.orderPosition.product.title }} in the order {{ order.code }} was closed.</p>
    <p>
        <a href="{{ absolute_url(path('cp.order.dispute', {'dispute': dispute.id})) }}">Details</a>
    </p>
{% endblock %}