{% extends '@Kerosin/layout/email.twig' %}
{# dispute \Order\Entity\Dispute #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>The {{ order.user.username }} has opened a dispute on the {{ dispute.orderPosition.product.title }} product in the order {{ order.code }}.</p>
    <p>
        <a href="{{ absolute_url(path('cp.order.dispute', {'dispute': dispute.id})) }}">Details</a>
    </p>
{% endblock %}