{# feedback \Shop\Entity\Feedback\BaseFeedback #}
{% extends '@Kerosin/layout/email.twig' %}

{% block content %}
    <p>Dear {{ feedback.fullName is defined ? feedback.fullName : 'Anonymous'  }} thanks for your feedback, we asnwer on your one:</p>
    <p>
        {{ feedback.answer|nl2br(true) }}
    </p>
{% endblock %}