{% extends '@Kerosin/layout/email.twig' %}
{# user \User\Entity\User #}
{% block content %}
    <p>Thank you for creating an account on <a href="{{ absolute_url(path('homepage')) }}">ZenithBay</a>. Your username is <strong>{{ user.username }}</strong></p>
    <p>You can access your personal account to view your profile and orders: <a href="{{ absolute_url(path('shop.account.index')) }}">Your Account</a>.</p>
    <p>In order to complete registration please confirm your email address by following the link below:</p>
{% endblock %}