{# @controller ShopBundle:Payment:withPayment #}
{# payment \Payment\Entity\Payment #}
{% extends '@Shop/layouts/one-column.twig' %}

{% block title %}Payment for order {{ order.code }}{% endblock %}
{% block content %}
    <div class="order-payment-wrapper js-payment-container" data-payment-time-left="{{ paymentTimeLeft }}">
        <div class="payment-header">
            <div class="payment-header-info"><h1>Payment {{ order.code }} details</h1></div>
            <div class="payment-currency-icon"><img src="{{ asset(currencyWrap(payment.currency).icon) }}"></div>
        </div>
        <div id="order-payment-instructions">
            <div class="payment-instructions-wrapper">Please send <span class="bold">{{ payment.amount|convert(payment.currency, payment.rate) }} {{ payment.currency }}</span> to <span class="bold">{{ payment.account }}</span></div>

            <div class="input-group payment-amount-wrapper">
                <span class="input-group-addon">{{ payment.currency }}:</span>
                <input type="text" class="form-control payment-amount-value js-payment-amount-value" aria-label="Payment amount" value="{{ payment.amount|convert(payment.currency, payment.rate) }}">
                <span class="input-group-btn"><button class="btn btn-light js-payment-amount-copy-clipboard" type="button">Copy amount</button></span>
            </div>
            <div class="input-group receiver-address-wrapper">
                <span class="input-group-addon">Address:</span>
                <input type="text" class="form-control payment-receiver-address-value js-payment-receiver-address-value" aria-label="Receiver address" value="{{ payment.account }}">
                <span class="input-group-btn"><button class="btn btn-light js-payment-receiver-address-copy-clipboard" type="button">Copy address</button></span>
            </div>
        </div>
        <div id="order-payment-qr">
            <img src="{{ payment.qr }}" class="img-thumbnail">
        </div>
        <div id="order-payment-helpers">
            {% if payment.currency=='BTC' %}<a href="bitcoin:{{ payment.account }}?amount={{ payment.amount|convert(payment.currency, payment.rate) }}&label=Payment" class="btn btn-light">Open wallet</a>{% endif %}
            {% if payment.currency=='BTH' %}<a href="bitcoincash:{{ payment.account }}?amount={{ payment.amount|convert(payment.currency, payment.rate) }}&label=Payment" class="btn btn-light">Open wallet</a>{% endif %}
        </div>
        <hr>
        <div id="order-payment-actions">
            <a href="{{ path('shop.payment.approve', {'hash': order.hash}) }}" class="btn btn-success">I've paid it</a>
            <a href="{{ path('shop.payment.changeCurrency', {'hash': order.hash}) }}" class="btn btn-default">Change currency or amount of ZNT</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/checkout.js') }}"></script>
{% endblock %}