{# @controller ShopBundle:Payment:withoutPayment #}
{% extends '@Shop/layouts/one-column.twig' %}

{% block title %}Payment for order {{ order.code }}{% endblock %}
{% block content %}
    <div class="choose-form-container">
        <h1>Choose currency for order #{{ order.code }}:</h1>
        {{ form_start(chooseForm) }}
        {{ form_row(chooseForm.currency) }}

        {% if chooseForm.znt is defined %}
            {{ form_row(chooseForm.znt) }}
            <div class="bonus-legend">
                {% set attr = chooseForm.znt.vars.attr %}
                <div class="balance">
                    Your balance: {{ attr['data-balance'] }} ZNT
                </div>
                <div class="amount">
                    You can use maximum: <span class="js-use-max-amount">
                        {% if attr['data-balance'] < attr['data-order-amount'] %}
                            {{ attr['data-balance'] }}
                        {% else %}
                            {{ attr['data-order-amount'] }}
                        {% endif %}
                    </span> ZNT

                </div>
            </div>
        {% endif %}

        <hr />
        <div class="row payment-preview js-payment-preview">
            <div class="col-md-1">Total: </div>
            <div class="js-total-amount-value zt-font-weight_b col-md-3" data-spinner-left="20px" data-spinner-top="10px"></div>
        </div>
        <hr />
        <button type="submit" class="btn btn-success">Apply</button>
        {{ form_end(chooseForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/checkout.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/checkout.css') }}">
{% endblock %}