{% extends '@Shop/layouts/two-column-catalog.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {{ itemBlockList('mainPage1') }}
        </div>
        <div class="col-md-3">
            {% include '@Shop/home/userinfo.part.twig' with { user: user } only %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ itemBlockList('mainPage2') }}
        </div>
    </div>
{% endblock %}