{# user \User\Entity\User #}
<div class="user-account-actions-front">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3>Hello, {{ user.username }}</h3>
        <div class="btn-group-sm">
            <a class="btn btn-success" href="{{ path('shop.account.index') }}">My Account</a>
            <a class="btn btn-warning" href="{{ path('shop.account.orders.index') }}">My Orders</a>
        </div>
    {% else %}
        <h3>Welcome to ZenithBay</h3>
        <div class="btn-group-sm">
            <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">Sign in</a>
            <a class="btn btn-warning" href="{{ path('shop.user.registration') }}">Register</a>
        </div>
    {% endif %}
</div>