{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}
    {% if isCreate %}
        Create Supplier
    {% else %}
        Edit Supplier
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ path('cp.supplier.index') }}" class="btn btn-default">Cancel</a>
    {{ form_end(form) }}
{% endblock %}