{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}
    Suppliers
{% endblock %}

{% block body %}
    <a href="{{ path('cp.supplier.create') }}" class="btn btn-success btn-create">Create</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created At</th>
                <th width="200px"></th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.createdAt|date(format='Y-m-d H:i') }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('cp.supplier.edit', {id: supplier.id}) }}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ path('cp.supplier.remove', {id: supplier.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}