<section class="page-header mb-lg">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a> </li>
            {% for item in crumbs %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>