{# @controller ShopBundle:Referral:withdrawRequest #}
{% extends '@Kerosin/layout/modal.twig' %}

{% block header %}Withdrawal of the referral bonuses{% endblock %}

{% block body %}
    {{ form_start(form, {'action': path('shop.referrals.withdraw_request'), 'attr': { 'class': 'js-withdrawal-form' } }) }}
    {{ form_row(form.amount, {'attr': {'class': 'js-withdrawal-amount'}} ) }}
    <div>Your balance: {{ balance }} ZBC</div>
    {{ form_row(form.currency, {'attr': {'class': 'js-withdrawal-currency'}} ) }}
    <div class="form-group">
        <label for="withdraw-result">You will receive</label>
        <input id="withdraw-result" class="form-control js-withdrawal-result" disabled="disabled">
    </div>
    {{ form_row(form.address) }}
    {{ form_end(form) }}
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-primary js-send-withdrawal-request">Place a withdrawal request</button>
    <button type="button" class="btn btn-default js-close-modal">Close</button>
{% endblock %}