{% extends '@Kerosin/layout/email.twig' %}
{# withdrawal \Referral\Entity\ReferralWithdrawal #}

{% block content %}
    <p>User {{ withdrawal.user.username }} make a withdrawal request,
        <a href="{{ absolute_url(path('cp.referral.withdrawals.process', {'withdrawal': withdrawal.id})) }}">details</a>.</p>
{% endblock %}