{% extends '@cp/layout/main.html.twig' %}

{% block body %}
    <h2>Copy {{ product.title }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Copy</button>
    <a href="{{ path('cp.catalog.product.index') }}" class="btn btn-danger">Cancel</a>
    {{ form_end(form) }}
{% endblock %}

