{{ form_start(filter) }}
<div class="row">
    <div class="col-md-2">
        {{ form_row(filter.productId, {
            attr: {
                class: 'input-sm',
                autocomplete: 'Off'
            }
        }) }}
    </div>
    <div class="col-md-3">
        {{ form_row(filter.title, {
            attr: {
                class: 'input-sm',
                autocomplete: 'Off'
            }
        }) }}
    </div>
    <div class="col-md-2">
        <h4 class="zt-margin-r_10px zt-display-ib">Price:</h4>
        <div class="zt-display-ib">
            {{ form_row(filter.price.min, { attr: { class: 'zt-width_128px input-sm' } }) }}
        </div>
    </div>
    <div class="col-md-1">
        {{ form_row(filter.price.max, { attr: { class: 'zt-width_128px input-sm' } }) }}
    </div>
</div>
<button class="btn btn-primary zt-margin-b_15px" type="submit">Search</button>
<a href="{{ path('cp.catalog.product.index') }}" class="btn btn-default zt-margin-b_15px">Reset</a>
{{ form_end(filter) }}