{# @controller CpBundle:Product:createEdit #}
{% extends '@Cp/layout/main.html.twig' %}
{% form_theme formView '@Cp/fields/product_parameter.twig' %}

{% block body %}
    {{ form_start(formView) }}

    <div class="row">
        <div class="col-md-12">
            <legend class="col-form-label-lg">Main info</legend>
            {{ form_row(formView.title, {
                attr: { class: 'input-sm' }
            }) }}

            {{ form_row(formView.categories, {
                attr: {
                    class: 'input-sm',
                    size: 20
                }
            }) }}

            {{ form_row(formView.sort, {
                attr: { class: 'input-sm' }
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(formView.price) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <legend class="col-form-label-lg">Product Main Image</legend>
            {{ form_row(formView.mainImage) }}
            {{ form_row(formView.images) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <legend class="col-form-label-lg">SEO</legend>

            {{ form_row(formView.metaTitle, {
                attr: {
                    class: 'input-sm'
                }
            }) }}

            {{ form_row(formView.metaDescription, {
                attr: {
                    class: 'input-sm'
                }
            }) }}

            {{ form_row(formView.metaKeywords, {
                attr: {
                    class: 'input-sm'
                }
            }) }}

            {{ form_row(formView.slugs) }}
        </div>
    </div>

    <div class="hidden">{{ form_row(formView.parameters) }}</div>

    {{ form_widget(formView) }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ path('cp.catalog.product.index') }}" class="btn btn-default">Cancel</a>
    {{ form_end(formView) }}
{% endblock %}