{# @controller CpBundle:Product:import #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Import product from AliExpress{% endblock %}

{% block body %}
    {{ form_start(importForm) }}
        {{ form_row(importForm.source) }}

        {% if error %}
            <p class="bg-warning">{{ error }}</p>
        {% endif %}

        <button class="btn btn-primary" type="submit">Import</button>
    {{ form_end(importForm) }}
{% endblock %}