{# @controller CpBundle:Product:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Products List{% endblock %}

{% block body %}
    <a href="{{ path('cp.catalog.product.create') }}" class="btn btn-success btn-create">Create product</a>
    <a href="{{ path('cp.catalog.product.import') }}" class="btn btn-primary btn-create">Import product</a>

    {#{% include '@Cp/product/mode.twig' %}#}

    {% include '@Cp/product/filter.twig' with { filter: filter } only %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Main image</th>
            <th class="zt-width_40pct">Title</th>
            <th>Price</th>
            <th>Price scale %</th>
            <th>Category</th>
            <th class="zt-width_15pct"></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.id }} <a href="{{ path('shop.catalog.product', {'id': product.id}) }}" target="_blank">open</a>
                </td>
                <td>
                    {{ product.readableStatus }}
                </td>
                <td>
                    <img class="img-thumbnail" width="100px" src="{{ image_path(product.mainImage) }}" />
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.price.value }}</td>
                <td>{{ product.price.scale }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for category in product.categories %}
                            <li>{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        {# product \Catalog\ORM\Entity\Product #}
                        <a href="{{ path('cp.catalog.product.edit', {id: product.id}) }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="{{ product.externalLink }}" class="btn btn-warning" title="Open External Link" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a href="{{ path('cp.catalog.product.copy', {id: product.id}) }}" class="btn btn-default" title="Copy product">
                            <span class="glyphicon glyphicon-copy"></span>
                        </a>
                        <a href="{{ path('cp.catalog.product.delete', {id: product.id}) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
