<div>
    <ul class="list-unstyled product-page-mode">
        {% set route = app.request.get('_route') %}
        <li>Mode:</li>
        <li>
            {% if route == 'cp.catalog.product.index' %}
                Products
            {% else %}
                <a href="{{ path('cp.catalog.product.index') }}">Products</a>
            {% endif %}
        </li>
        <li>
            {% if route == 'cp.catalog.product.price' %}
                Price
            {% else %}
                <a href="{{ path('cp.catalog.product.price') }}">Price</a>
            {% endif %}
        </li>
    </ul>
</div>