{# filter \Cp\Form\Filter\LogFilter #}

{{ form_start(filter) }}
{{ form_widget(filter) }}
<button type="submit" class="btn btn-success">Search</button>
<a href="{{ path('cp.log.index') }}" class="btn btn-default">Reset</a>
{{ form_end(filter) }}