{# @controller CpBundle:Log:index #}

{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}System Logs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% include '@Cp/log/filter.twig' with { 'filter': filter } only %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped zt-margin-t_15px">
                <tr>
                    <th class="zt-width_5pct">ID</th>
                    <th class="zt-width_10pct">Date</th>
                    <th class="zt-width_10pct">Level</th>
                    <th class="zt-width_10pct">Channel</th>
                    <th>Message</th>
                    <th class="zt-width_5pct"></th>
                </tr>
            {% for item in logItems %}
                {# item \Kerosin\Entity\BusinessLog #}
                <tr class="js-log-item" data-id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>{{ item.createdAt|date }}</td>
                    <td>{{ item.levelName }}</td>
                    <td>{{ item.channel }}</td>
                    <td>{{ item.message }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary js-display-log-detail">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </td>
                </tr>
                <tr class="hide js-log-item-detail" data-id="{{ item.id }}">
                    <td colspan="6">
                        {% if item.context|length %}
                            {% include '@Cp/log/pretty.part.twig' with { items: item.context } only %}
                        {% else %}
                            <p>Empty extra data</p>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nothing found</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(logItems) }}
    </div>
{% endblock %}