{# items array #}
<ul>
    {% for key,item in items %}
    <li>
        {{ key }}:
        {% if item is iterable %}
            {% include '@Cp/log/pretty.part.twig' with { items: item } only %}
        {% else %}
            <strong>{{ item }}</strong>
        {% endif %}
    </li>
    {% endfor %}
</ul>
