.products-grid {
    list-style: none;
    padding: 0;
    margin: 0 -10px 0;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    li {
        width: 100%;
        padding: 10px 10px 0;
    }
    li.product-wrapper {
        display: block;
        transition: width .2s;
        position: relative;
        height: 370px;
        margin-bottom: 50px;
        padding: 0 5px 0 5px;
        &:hover {
            z-index: 5;
        }
        .product {
            min-height: 370px;
            background: #fff;
            border: 1px solid #fff;
            &:hover {
                border: 1px solid #ddd;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
            }
        }
    }
}
.cart-dropdownmenu {
    .cart-products {
        .product {
            .product-image-area {
                .product-image {
                    height: auto;
                    img {
                        width: 80px;
                        height: auto;
                    }
                }
            }
        }
    }
}
.wishlist {
    .product {
        .product-image-area {
            .product-image {
                height: auto;
                img {
                    width: 120px;
                    height: auto;
                }
            }
        }
    }
}
.products-grid.columns6 {
    margin: 0 -5px;
}
.products-grid.columns6 li {
    padding-left: 5px;
    padding-right: 5px;
}
.products-grid.columns7 {
    margin: 0 -4px;
}
.products-grid.columns7 li {
    padding-left: 4px;
    padding-right: 4px;
}
.products-grid.columns8 {
    margin: 0 -3px;
}
.products-grid.columns8 li {
    padding-left: 3px;
    padding-right: 3px;
}
@media (min-width: 480px) {
    .products-grid li {
        float: left;
        width: 50%;
    }
    .products-grid li:nth-child(2n+1) {
        clear: left;
    }
    .products-grid.columns5 li, .products-grid.columns6 li, .products-grid.columns7 li, .products-grid.columns8 li {
        width: 33.33%;
    }
    .products-grid.columns5 li:nth-child(2n+1), .products-grid.columns6 li:nth-child(2n+1), .products-grid.columns7 li:nth-child(2n+1), .products-grid.columns8 li:nth-child(2n+1) {
        clear: none;
    }
    .products-grid.columns5 li:nth-child(3n+1), .products-grid.columns6 li:nth-child(3n+1), .products-grid.columns7 li:nth-child(3n+1), .products-grid.columns8 li:nth-child(3n+1) {
        clear: left;
    }
}
@media (min-width: 768px) {
    .products-grid.columns3 li, .products-grid.columns4 li {
        width: 33.33%;
    }
    .products-grid.columns3 li:nth-child(2n+1), .products-grid.columns4 li:nth-child(2n+1) {
        clear: none;
    }
    .products-grid.columns3 li:nth-child(3n+1), .products-grid.columns4 li:nth-child(3n+1) {
        clear: left;
    }
    .products-grid.columns5 li, .products-grid.columns6 li, .products-grid.columns7 li, .products-grid.columns8 li {
        width: 25%;
    }
    .products-grid.columns5 li:nth-child(3n+1), .products-grid.columns6 li:nth-child(3n+1), .products-grid.columns7 li:nth-child(3n+1), .products-grid.columns8 li:nth-child(3n+1) {
        clear: none;
    }
    .products-grid.columns5 li:nth-child(4n+1), .products-grid.columns6 li:nth-child(4n+1), .products-grid.columns7 li:nth-child(4n+1), .products-grid.columns8 li:nth-child(4n+1) {
        clear: left;
    }
}
@media (min-width: 992px) {
    .products-grid.columns6 li, .products-grid.columns7 li, .products-grid.columns8 li {
        width: 20%;
    }
    .products-grid.columns6 li:nth-child(4n+1), .products-grid.columns7 li:nth-child(4n+1), .products-grid.columns8 li:nth-child(4n+1) {
        clear: none;
    }
    .products-grid.columns6 li:nth-child(5n+1), .products-grid.columns7 li:nth-child(5n+1), .products-grid.columns8 li:nth-child(5n+1) {
        clear: left;
    }
}
@media (min-width: 1200px) {
    .products-grid.columns4 li {
        width: 25%;
    }
    .products-grid.columns4 li:nth-child(3n+1) {
        clear: none;
    }
    .products-grid.columns4 li:nth-child(4n+1) {
        clear: left;
    }
    .products-grid.columns5 li {
        width: 20%;
    }
    .products-grid.columns5 li:nth-child(4n+1) {
        clear: none;
    }
    .products-grid.columns5 li:nth-child(5n+1) {
        clear: left;
    }
    .products-grid.columns6 li {
        width: 16.66%;
    }
    .products-grid.columns6 li:nth-child(5n+1) {
        clear: none;
    }
    .products-grid.columns6 li:nth-child(6n+1) {
        clear: left;
    }
    .products-grid.columns7 li {
        width: 14.25%;
    }
    .products-grid.columns7 li:nth-child(5n+1) {
        clear: none;
    }
    .products-grid.columns7 li:nth-child(7n+1) {
        clear: left;
    }
    .products-grid.columns8 li {
        width: 12.5%;
    }
    .products-grid.columns8 li:nth-child(5n+1) {
        clear: none;
    }
    .products-grid.columns8 li:nth-child(8n+1) {
        clear: left;
    }
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0 -10px 0;
    li {
        padding: 10px;
        width: 100%;
    }
}
.product {
    .product-image-area {
        overflow: hidden;
        position: relative;
        padding: 10px;
        background-color: #fff;
        .product-image {
            display: flex;
            overflow: hidden;
            position: relative;
            border-radius: 3px;
            align-items: center;
            justify-content: center;
            height: 220px;
            img {
                max-width: 220px;
                max-height: 220px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            .product-hover-image {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
.product .product-quickview {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0088CC;
    color: #fff;
    padding: 10px;
    z-index: 9;
    border-radius: 0 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    font-size: 12px;
    line-height: 1.4;
}
.product .product-quickview span {
    margin-left: 2px;
}
.product .product-quickview:hover, .product .product-quickview:focus {
    opacity: 0.9 !important;
    color: #fff;
    text-decoration: none;
}
.product .product-quickview:hover span, .product .product-quickview:focus span {
    text-decoration: underline;
}
.product .product-label {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    line-height: 1;
    z-index: 5;
    text-align: center;
}
.product .product-label + .product-label {
    top: 40px;
}
.product .product-label span {
    display: block;
    position: relative;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
}
.product .product-label span.discount {
    background-color: #e27c7c;
}
.product .product-label span.new {
    background-color: #62b959;
}
.product .product-details-area {
    padding: 10px;
    text-align: center;
}
.product .product-details-area .product-actions {
    margin: 0 -10px;
}
.product .product-name {
    color: #777;
    font-weight: 400;
    margin: 0 0 15px;
    height: 60px;
    font-size: 1.2em;
    min-height: 30px;
    overflow: hidden;
    line-height: 1.2em;
}
.cart-products .product .product-name {
    height: 30px;
}
.product .product-name a {
    color: #777;
}
.product .product-name a:hover, .product .product-name a:focus {
    color: #0088CC;
    text-decoration: none;
}
.products-grid .product:hover .product-name {
    height: auto;
}

.product.locked {
    opacity: 0.6;
}

.product-ratings {
    font-size: 11px;
    line-height: 1.25;
    height: 14px;
    margin: 7px 0 6px;
}
.product-ratings .ratings-box {
    position: relative;
    display: inline-block;
    margin-top: 1.5px;
    overflow: hidden;
    width: 64px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
}
.product-ratings .ratings-box:before {
    font-family: "FontAwesome";
    content: "\f005\20\f005\20\f005\20\f005\20\f005";
    width: 64px;
    height: 11px;
    color: #c3c5c9;
    display: block;
    font-size: 11px;
    line-height: 11px;
}
.product-ratings .ratings-box .rating {
    float: left;
    height: 11px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.product-ratings .ratings-box .rating:before {
    font-family: "FontAwesome";
    content: "\f005\20\f005\20\f005\20\f005\20\f005";
    width: 64px;
    height: 11px;
    color: #ffc600;
    display: block;
    font-size: 11px;
    line-height: 11px;
}

.product-price-box {
    font-size: 0;
    margin: 5px 0 3px;
}
.product-price-box .old-price,
.product-price-box .product-price {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
.product-price-box .old-price {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
}
.product-price-box .old-price + .product-price {
    margin-left: 6px;
}
.product-price-box .product-price {
    font-size: 20px;
    color: #444;
}

.product-actions {
    a {
        display: inline-block;
        position: relative;
        margin: 10px 1px;
        vertical-align: middle;
        border-radius: 5px;
        text-align: center;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    &.wishlist-product-actions:not(.detail-product-actions) {
        a {
            &.addtocart {
                visibility: visible;
            }
        }
    }
}

.product-actions a:hover, .product-actions a:focus {
    text-decoration: none;
}
.product-actions:not(.detail-product-actions) a.addtocart {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    padding: 0 10px 0 8px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #ccc;
    visibility: hidden;
}
.product-actions a.addtocart i {
    font-size: 15px;
    margin-right: 2px;
}

.product-actions a.addtocart.outofstock {
    padding: 0 10px;
    cursor: default;
}

.product-actions a.addtowishlist,
.product-actions a.comparelink,
.product-actions a.quickview {
    font-size: 17px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.product:hover, .product.locked {
    .product-quickview {
        visibility: visible;
        opacity: 1;
    }

    .product-image-area .product-image .product-hover-image {
        visibility: visible;
        opacity: 1;
    }

    .product-actions a.addtocart {
        background-color: #0088CC;
        border-color: #0088CC;
        color: #fff;
        visibility: visible;
    }

    .product-actions a.addtocart.outofstock {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
    }

    .product-actions a.addtowishlist {
        visibility: visible;
        opacity: 1;
        right: 0;
    }

    .product-actions a.comparelink {
        visibility: visible;
        opacity: 1;
        left: 0;
    }
}

@media (max-width: 992px) {
    .product {
        .product-actions a.addtocart {
            visibility: visible;
        }
        .product-actions a.addtowishlist {
            visibility: visible;
            opacity: 1;
            right: 0;
        }
        .product-actions a.comparelink {
            visibility: visible;
            opacity: 1;
            left: 0;
        }
    }
}

.product-actions {
    a {
        &.removefromwishlist {
            color: #ff0039;
        }
    }
}
.hide-addtolinks .product-actions a.addtowishlist, .hide-addtolinks .product-actions a.comparelink, .hide-addtolinks .product-actions a.quickview {
    display: none;
}
.product-actions {
    a {
        &.addtowishlist {
            right: -37px;
            &.delisted {
                color: #666;
                border: 1px solid #666;
                &:hover {
                    color: #fff;
                    background-color: #ed4949;
                    border: 1px solid #ed4949;
                }
            }
            &.enlisted {
                color: #ed4949;
                border: 1px solid #ed4949;
                &:hover {
                    color: #fff;
                    background-color: #ed4949;
                }
            }
        }
    }
}

.product-actions a.comparelink {
    left: -37px;
    color: #52b9b5;
    border: 1px solid #52b9b5;
}
.product-actions a.comparelink:hover {
    color: #fff;
    background-color: #52b9b5;
}

.product-actions a.quickview {
    visibility: visible;
    opacity: 1;
    color: #0088CC;
    border: 1px solid #0088CC;
}
.product-actions a.quickview:hover {
    color: #fff;
    background-color: #0088CC;
}

.product.product-list:after {
    content: '';
    display: table;
    clear: both;
}
.product.product-list .product-details-area {
    text-align: left;
    padding: 0 20px;
}
.product.product-list .product-short-desc {
    font-size: 14px;
    line-height: 1.5;
}
.product.product-list .product-ratings {
    background: none;
    margin-bottom: 10px;
}
.product.product-list .product-name {
    font-size: 18px;
    margin: 10px 0;
}
.product.product-list .product-price-box {
    margin-top: 10px;
}
.product.product-list .product-actions {
    margin: 0;
}
.product.product-list .product-actions a.addtowishlist, .product.product-list .product-actions a.comparelink, .product.product-list .product-actions a.quickview {
    left: auto;
    right: auto;
    visibility: visible;
    opacity: 1;
}
.product.product-list .product-actions a.addtocart {
    background-color: #0088CC;
    border-color: #0088CC;
    color: #fff;
}
@media (min-width: 600px) {
    .product.product-list .product-image-area {
        float: left;
        width: 20%;
    }
    .product.product-list .product-details-area {
        float: left;
        width: 80%;
    }
}

.product.product-sm {
    padding: 6px 0 8px;
    max-width: 300px;
}
.product.product-sm:after {
    content: '';
    display: table;
    clear: both;
}
.product.product-sm .product-image-area {
    width: 33%;
    float: left;
    padding: 2px;
}
.product.product-sm .product-details-area {
    float: left;
    width: 67%;
    text-align: left;
    padding: 10px 16px;
}
.product.product-sm .product-name {
    font-size: 12px;
}
.product.product-sm .product-ratings {
    background: none;
    margin-bottom: 5px;
}
.product.product-sm .product-price-box {
    margin: 2px 0 3px;
}
.product.product-sm .product-price-box .old-price {
    font-size: 11px;
}
.product.product-sm .product-price-box .old-price + .product-price {
    margin-left: 3px;
}
.product.product-sm .product-price-box .product-price {
    font-size: 15px;
}

.toolbar {
    margin-bottom: 8px;

    .sorter{
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .sort-by {
            float: left;
            margin-right: 20px;
            margin-bottom: 4px;
            min-width: 170px;

            .sort-btn {
                border: 1px solid #dddddd;
                border-radius: 3px;
                color: black;
                width: 26px;
                height: 26px;
                margin-right: 3px;
                padding: 4px 6px;
            }
        }

        .limiter {
            float: right;
        }
    }
}

.toolbar .sorter label {
    font-weight: 400;
    margin-right: 5px;
    color: #777;
    font-size: 13px;
    vertical-align: middle;
}
.toolbar .sorter select {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 8px;
    height: 26px;
    color: #777;
    font-size: 13px;
    border-radius: 3px;
}
.toolbar .sorter .view-mode {
    float: left;
    margin-right: 10px;
    line-height: 29px;
    height: 30px;
}
.toolbar .sorter .view-mode i {
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    width: 26px;
    height: 26px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    vertical-align: top;
}
.toolbar .sorter .view-mode span i, .toolbar .sorter .view-mode span:hover i, .toolbar .sorter .view-mode span:focus i {
    color: #fff;
    background-color: #0088CC;
    border-color: #0088CC;
}
.toolbar .sorter .view-mode a:hover i, .toolbar .sorter .view-mode a:focus i {
    color: #fff;
    background-color: #0088CC;
    border-color: #0088CC;
}
.toolbar .sorter .pagination {
    float: right;
    margin: 0 0 5px 8px;
}
.toolbar .sorter .pagination a,
.toolbar .sorter .pagination span {
    border-radius: 3px;
    min-width: 26px;
    padding: 3px 6px;
    margin-left: 5px;
    text-align: center;
}

.sidebar.shop-sidebar {
    .filter-price {
        margin: 14px 0 9px;
        #price-slider {
            margin-bottom: 20px;
        }
        .noUi-target {
            background: #eee;
            border-radius: 0;
            border: none;
            box-shadow: none;
        }
        .noUi-handle {
            background: #0088CC;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            box-shadow: none;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        .noUi-horizontal {
            position: relative;
            height: 7px;
            .noUi-handle {
                position: absolute;
                width: 13px;
                height: 18px;
                border: 0;
                left: -6.5px;
                top: -6px;
            }
            .noUi-base {
                .noUi-origin {
                    position: absolute;
                }
            }
        }
        .noUi-connect {
            background-color: #1ab3ff;
            box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
        }
        .filter-price-details {
            text-align: center;
            * {
                white-space: normal;
            }
            .filter-price-wrapper {
                position: relative;
                width: 50%;
            }
            span {
                vertical-align: middle;
                line-height: 26px;
            }
            .form-control {
                display: inline-block;
                vertical-align: middle;
                color: #a3a2a2;
                padding: 2px 5px;
                font-size: 14px;
                margin: 0 2px;
                width: 100%;
                height: 26px;
            }
            .input-label-inside {
                position: absolute;
                right: 0;
                top: 0;
            }
            .btn {
                border: none;
                height: 26px;
                line-height: 26px;
                color: #fff;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 14px;
                margin: 5px 0;
            }
        }
    }
}
.filter-range-wrapper {
    :first-child {
        padding-right: 5px;
    }
    :last-child {
        padding-left: 5px;
    }
    .filter-range-value-wrapper {
        width: 50%;
        display: inline-block;
        position: relative;
        float: left;
        input {
            width: 100%;
            position: relative;
            padding: 3px 11px 3px 35px;
            line-height: 21px;
        }
        .filter-range-label {
            position: absolute;
            top: 0;
            left: 0;
            line-height: 38px;
            padding: 0 0 0 8px;
        }
    }
}
.wishlist {
    li {
        border-bottom: 1px solid #CCCCCC;
        margin-bottom: 30px;
    }
}
.product-view {
    .product-essential {
        .product-img-box {
            .product-img-zoom {
                span {
                    font-size: 2em;
                    color: #fff;
                    text-shadow: 2px 2px 2px #000;
                }
            }
        }
    }
    &.product-unavailable {
        p.availability {
            color: #ff0039;
        }
        .product-img-box {
            img {
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
                &:hover {
                    -webkit-filter: grayscale(0);
                    filter: none;
                }
            }
        }
        .panel-group.product-panel {
            .panel.panel-default {
                .panel-heading {
                    .panel-title {
                        a {
                            color: #000;
                            border-left: 4px solid #f4f4f4;
                            &:before {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}
