{# order \Order\Entity\Order #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Comment about Order</h4>
    </div>
    <div class="order-comment js-order-comment">{{ order.comment }}</div>
    <div class="js-order-comment-textarea hide order-comment-textarea">
        <textarea>{{ order.comment }}</textarea>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary js-update-comment">Update a Comment of the Order</button>
        <button class="btn btn-success hide js-comment-save" data-href="{{ path('cp.order.update.comment', {id: order.id, type: 'order'}) }}">Save</button>
        <button class="btn btn-default hide js-comment-cancel-save">Cancel</button>
    </div>
</div>