<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Delivery info</h4>
    </div>
    {# delivery \Order\Entity\OrderDeliveryInfo #}
    {% set delivery = order.delivery %}
    <table class="table table-striped table-contents">
        <tr>
            <td>E-mail</td>
            <td>{{ delivery.email }}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{ delivery.country.title }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ delivery.state.title }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{ delivery.city.title }}</td>
        </tr>
        <tr>
            <td>Zip</td>
            <td>{{ delivery.zip }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                {{ delivery.address }} {{ delivery.apartment }}
            </td>
        </tr>
    </table>
</div>