{# order \Order\Entity\Order #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Main Info</h4>
    </div>
    <table class="table table-contents">
        <tr>
            <td>{{ 'Created At'|trans }}</td>
            <td>{{ order.createdAt|date }}</td>
        </tr>
        <tr>
            <td>{{ 'Code'|trans }}</td>
            <td>{{ order.code }}</td>
        </tr>
    </table>
</div>