{# order \Order\Entity\Order #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Payment Information</h4>
    </div>
    <table class="table table-contents">
        {#<tr>#}
            {#<td>{{ 'Amount'|trans }}</td>#}
            {#<td>{{ order.payment.amount }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>{{ 'Currency'|trans }}</td>#}
            {#<td>{{ order.payment.currency }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>{{ 'Payment Gate'|trans }}</td>#}
            {#<td>{{ order.payment.exchange }}</td>#}
        {#</tr>#}
    </table>
</div>