<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">History of Statuses</h4>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="zt-width_20pct">Status</th>
            <th class="zt-width_15pct">Created At</th>
            <th>Comment</th>
        </tr>
        </thead>
        {% for status in order.historyStatuses %}
            <tr>
                <td>{{ status.readableStatus }}</td>
                <td>{{ status.createdAt|date }}</td>
                <td>{{ status.comment }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="panel-footer">
        <button
            type="button"
            class="btn btn-primary js-call-update-status"
            data-toggle="ajax-modal"
            data-url="{{ path('cp.order.updateStatus', { id: order.id }) }}"
        >
            Update status
        </button>
    </div>
</div>