{# form \Cp\Form\OrderStatusType #}
{% extends '@Kerosin/layout/modal.twig' %}

{% block header %}
    Update Status of Order
{% endblock %}

{% block preBody %}
    {{ form_start(form) }}
{% endblock %}
{% block body %}
    {{ form_widget(form) }}
{% endblock %}
{% block footer %}
    <button type="button" class="btn btn-success js-send-status">{{ 'Update a Status'|trans }}</button>
    <button type="button" class="btn btn-default js-close-modal">{{ 'Close'|trans }}</button>
{% endblock %}
{% block postBody %}
    {{ form_end(form) }}
{% endblock %}