{# order \Order\Entity\Order #}

{% include '@Cp/order/overview_tab/main_block.twig' with { order: order } only %}

{% if order.payment %}
    {% include '@Cp/order/overview_tab/payment_block.twig' with {order: order} only %}
{% endif %}

<div class="js-statuses-history-container">
    {% include '@Cp/order/overview_tab/statuses_block.twig' with { order: order } only %}
</div>

{% include '@Cp/order/overview_tab/delivery_block.twig' with { order: order } only %}

{% include '@Cp/order/overview_tab/comment_block.twig' with { order: order } only %}