{# @controller CpBundle:Geo:countryEdit #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}{{ 'Country'|trans }} {{ isCreate ? 'Create' : 'Edit' }}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">{{ 'Save'|trans }}</button>
        <a href="{{ path('cp.geo.country.index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}


