{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}{{ 'Countries'|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('cp.geo.country.create') }}" class="btn btn-create btn-success">{{ 'Add a country'|trans }}</a>
    <table class="table table-striped">
        <tr>
            <th width="50px">ID</th>
            <th>Title</th>
            <th width="200px"></th>
        </tr>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.title }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('cp.geo.country.edit', {'id': country.id}) }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="{{ path('cp.geo.country.delete', {'id': country.id}) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    {{ 'Not found any countries'|trans }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(countries) }}
    </div>
{% endblock %}