{# @controller ShopBundle:Account:createUpdateInfo #}
{% extends '@Shop/layouts/account.twig' %}

{% block title %}Account - {% if isCreate %}Create an Address{% else %}Edit an Address{% endif %}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.country) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.stateAutocomplete) }}
            {{ form_row(form.stateSimple) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.cityAutocomplete) }}
            {{ form_row(form.citySimple) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.zipAutocomplete) }}
            {{ form_row(form.zipSimple) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.address) }}
            {{ form_row(form.apartment) }}
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">{% if isCreate %}Create{% else %}Save{% endif %}</button>
        <button type="button"
                class="btn btn-default js-link-require-confirm"
                data-href="{{ path('shop.account.address_book.index') }}"
                data-confirm-title="Cancel edit"
                data-confirm-message="Would you like cancel {% if isCreate %}create{% else %}edit{% endif %} the Address without save it?"
        >Cancel</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/checkout.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/checkout.css') }}">
{% endblock %}