{# @controller ShopBundle:Account:address #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    <h2 class="h3 mb-sm"><strong>Address Book</strong></h2>

    <a href="{{ path('shop.account.address_book.add') }}" class="btn btn-primary zt-margin-b_15px">Create an Address</a>

    {% for address in addresses %}
        {# address \User\Entity\UserDeliveryInfo #}
        <div class="panel-box">
            <div class="panel-box-title">
                <h3>{{ address.firstName }} {{ address.lastName }}</h3>
            </div>

            <div class="panel-box-content">
                <table class="table table-contents">
                    <tr>
                        <td>Country</td>
                        <td>{{ address.country.title }}</td>
                    </tr>
                    <tr>
                        <td>State\Region</td>
                        <td>{{ address.state.title }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ address.city.title }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ address.address }}{% if address.apartment %}, {{ address.apartment }}{% endif %}</td>
                    </tr>
                </table>
                <div class="btn-group-sm">
                    <a href="{{ path('shop.account.address_book.edit', {'id': address.id}) }}" class="btn btn-primary">Edit</a>
                    <a
                        href="{{ path('shop.account.address_book.remove', {'id': address.id}) }}"
                        class="btn btn-danger js-link-require-confirm"
                        data-confirm-title="Delete Address"
                        data-confirm-message="Would you like to delete it address?"
                    >Remove</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        {{ knp_pagination_render(addresses, '@Shop/pagination/pagination.twig') }}
    </div>
{% endblock %}