{# filter \Symfony\Component\Form\FormView #}
{# reset_url string #}
<div class="control-panel_filter-block">
    {{ form_start(filter) }}
    {{ form_widget(filter) }}
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{{ reset_url }}" class="btn btn-default">Reset</a>
    {{ form_end(filter) }}
</div>