<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                {% if app.environment == 'dev' %}
                    DEV - {{ titleBreadcrumbs() }}
                {% endif %}
                {% if app.environment == 'prod' %}
                    {{ titleBreadcrumbs() }}
                {% endif %}
            {% endblock %}
        </title>
        {{ seoMetaTags() }}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendors.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/adminMain.css') }}">
        {% endblock %}
        {% if app.environment == 'dev' %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon-dev.ico') }}" />
        {% endif %}
        {% if app.environment == 'prod' %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endif %}
    </head>
    <body class="control-panel">
        <header>
            <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="{{ path('cp.home') }}" class="navbar-brand">Admin Panel</a>
                    </div>
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand">Market</a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand"><small>Environment: {{ app.environment }}</small></a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid main-wrapper">
            <div class="row">
                <div class="col-md-2">
                    {#{% include '@cp/layout/sidebar.twig' %}#}
                    {{ sidebarMenu() }}
                </div>
                <div class="col-md-10">
                    <div class="page-header">
                        <h3>{% block page_header %}Page name{% endblock %}</h3>
                        {{ cpBreadcrumbs() }}
                    </div>
                    <div class="work-area">
                        {% block body %}
                        {% endblock %}
                    </div>

                </div>
            </div>

        </div>
        <footer>
        </footer>
        {% include '@Cp/layout/js_templates.twig' %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendors.js') }}"></script>
            <script src="{{ asset('assets/adminMain.js') }}"></script>
        {% endblock %}
    </body>
</html>
