<ul class="nav nav-sidebar">
    <li>
        <h4>Catalog</h4>
        <ul class="">
            <li><a href="{{ path('cp.catalog.category.index') }}">Category</a></li>
            <li><a href="{{ path('cp.catalog.product.index') }}">Products</a></li>
        </ul>
    </li>
    <li>
        <h4>Orders</h4>
    </li>
    <li>
        <h4>Shipping</h4>
        <ul>
            <li>
                Company
            </li>
            <li>Track-codes</li>
        </ul>
    </li>
    <li>
        <h4>System</h4>
        <ul>
            <li>Users</li>
            <li>Currency</li>
        </ul>
    </li>
    <li>
        <h4>Reference</h4>
        <ul>
            <li>Country</li>
            <li>State</li>
            <li>City</li>
        </ul>
    </li>
</ul>