<div class="top-menu-area">
    <ul class="top-menu">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('cp.home') }}">{{ 'Control Panel'|trans }}</a>
                </li>
            {% endif %}
            <li><a href="{{ path('shop.account.index') }}"><i class="far fa-user"></i> {{ 'My account'|trans }}</a></li>
            <li><a href="{{ path('shop.account.wish.index') }}"><i class="far fa-heart"></i> {{ 'My Wishlist'|trans }}</a></li>
            <li><a href="{{ path('shop.account.orders.index') }}"><i class="fas fa-truck"></i> {{ 'Orders'|trans }}</a></li>
            {#<li><a href="{{ path('shop.referrals.index') }}">{{ 'Referral Program'|trans }}</a></li>#}
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fas fa-sign-out-alt"></i> {{ 'Logout'|trans }}</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'Sign in'|trans }}</a></li>
            <li><a href="{{ path('shop.user.registration') }}">{{ 'Register'|trans }}</a></li>
        {% endif %}
    </ul>
</div>
<p class="welcome-msg"><i class="far fa-user"></i> {{ 'Welcome, %username%' |trans({ '%username%': is_granted('IS_AUTHENTICATED_FULLY') ? user.username : 'Anonymous' }) }}</p>