{# @controller ShopBundle:CatchAll:staticPage #}
{% extends '@Shop/layouts/one-column.twig' %}
{% block content %}
    <div id="static-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ page.title }}</h1>
                    {{ include(template_from_string(page.body)) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}