<div id="front-banner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for item in items %}
            {% if loop.first %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                    <a href="{{ item.url }}" target="_blank">
                        <img src="{{ image_path(item.image) }}">
                    </a>
                </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#front-banner" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <a class="right carousel-control" href="#front-banner" role="button" data-slide="next">
        <span class="glyphicon glyphicon-menu-right"></span>
    </a>
</div>