<h2 class="slider-title">
    <span class="inline-title">{{ title }}</span>
    <span class="line"></span>
</h2>

<div class="js-owl-carousel category-carousel owl-carousel owl-theme"
     data-size="4"
     data-nav="true"
>
    {% for item in items %}
        <div class="category">
            <div class="image">
                <img src="{{ image_path(item.image) }}" class="zt-width_128px">
            </div>
            <div class="title">
                <a href="{{ relativePageAlias('category', item.category.id) }}">
                    {{ item.category.title }}
                </a>
            </div>
        </div>
    {% endfor %}
</div>