<div class="carousel-block">
    {% if title is defined and title != false and title is not null %}
    <h2 class="slider-title">
        <span class="inline-title">{{ title }}</span>
        <span class="line"></span>
    </h2>
    {% endif %}
    <div class="carousel-wrapper">
        <div class="js-owl-carousel product-carousel owl-carousel owl-theme"
             data-size="4"
             data-nav="true">
            {% for item in items %}
                {# item \Catalog\ORM\Entity\Product|Elastic\Entity\ElasticProduct #}
                <div class="product js-product-card">
                    <figure class="product-image-area">
                        <a href="{{ relativePageAlias('product', item.id) }}" title="{{ item.title }}" class="product-image">
                            <img src="{{ image_path(item.mainImage) }}_220x220.jpg"
                                 alt="{{ item.mainImage.alt ?? item.title }}"
                                 title="{{ item.mainImage.title ?? item.title }}">
                        </a>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name">
                            <a href="{{ relativePageAlias('product', item.id) }}" title="{{ item.title }}">{{ item.title }}</a>
                        </h2>

                        <div class="product-price-box">
                            <span class="product-price">{{ item.publicPrice|convert }} {{ currency }}</span>
                        </div>

                        <div class="product-actions">
                            {{ wishButton(item.id) }}
                            {{ addToCartButton(item.id) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>