{# @controller CpBundle:StaticPage:createEdit #}
{% extends '@Cp/layout/main.html.twig' %}
{% set title = (isCreate ? 'Create ' : 'Edit ') ~ ' a Static Page' %}
{% block title %}{{ title }} - Control Panel{% endblock %}
{% block page_header %}{{ title }}{% endblock %}

{% block body %}
    <div class="help-block">
        {#You can use alias in body textarea as {% verbatim %}{{ pageAlias(type, id, position = null) }}{% endverbatim %}, where:#}
        {#<ul>#}
            {#<li>type - type of alias, e.g staticPage, product</li>#}
            {#<li>id - Target object ID</li>#}
            {#<li>position - Position of alias, null is first alias in list</li>#}
        {#</ul>#}
        {#Example:<br>#}
            {#{% verbatim %}#}
                {#&lt;a href="{{pageAlias('staticPage', 1, 1)}}"&gt;Some text&lt;/a&gt;#}
            {#{% endverbatim %}#}
    </div>
    {{ form_start(staticPageForm) }}
    {{ form_widget(staticPageForm) }}
    {{ form_row(staticPageForm.slugs) }}
    <div class="btn-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{{ path('cp.static_page.index') }}" class="btn btn-default">Cancel</a>
    </div>
    {{ form_end(staticPageForm) }}
{% endblock %}