{# @controller CpBundle:CpBundle:StaticPage:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block title %}Static Pages List - Control Panel{% endblock %}
{% block page_header %}Static Pages List{% endblock %}

{% block body %}
    <a href="{{ path('cp.static_page.create') }}" class="btn btn-create btn-success">
        Create a Static Page
    </a>

    <div class="grid-content">
        <table class="table table-striped">
            <tr>
                <th width="50px">ID</th>
                <th width="300px">Title</th>
                <th>Aliases</th>
                <th width="150px"></th>
            </tr>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>{{ page.title }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for item in page.slugs %}
                                <li>{{ item.slug }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('cp.static_page.edit', { 'id': page.id }) }}" class="btn btn-success">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ path('cp.static_page.delete', {'id': page.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Static pages not exist</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="pagination">
        {#{{ knp_pagination_render(pages) }}#}
    </div>
{% endblock %}
