{# @controller ShopBundle:Cart:index #}
{% extends '@Shop/layouts/one-column.twig' %}

{% block content %}
    <div class="cart">
        <div class="container">
            <h1 class="h2 heading-primary mt-lg clearfix">
                <span>Shopping Cart</span>
            </h1>

            <div class="row">
                <div class="col-md-8 col-lg-9">
                    {% include '@Shop/cart/items.part.twig' with { items: items } only %}
                </div>
                <aside class="col-md-4 col-lg-3 sidebar shop-sidebar">
                    <div class="panel-group">
                        {% include '@Shop/cart/total_price.part.twig' %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/catalog.css') }}">
{% endblock %}