{# items \Catalog\Order\Cart\Item[] #}
<div class="cart-table-wrap js-cart-page-items-container" data-update-uri="{{ path('shop.cart.update') }}">
    {% if items|length > 0 %}
        <table class="cart-table">
            <thead>
            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Item Price</th>
                <th>Qty</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td class="product-image-td">
                        <a href="{{ relativePageAlias('product', item.product.id) }}" title="{{ item.product.title }}">
                            <img src="{{ image_path(item.product.mainImage) }}" alt="{{ item.product.title }}">
                        </a>
                    </td>
                    <td class="product-name-td">
                        <h2 class="product-name">
                            <a href="{{ relativePageAlias('product', item.product.id) }}" title="{{ item.product.title }}">{{ item.product.title }}</a>
                        </h2>
                    </td>
                    <td class="no-wrap">{{ item.product.publicPrice|convert }} {{ currency }}</td>
                    <td>
                        <div class="qty-holder js-cart-item-quantity-actions-container" data-id="{{ item.product.id }}">
                            <span class="qty-dec-btn js-cart-item-quantity-change" data-action="dec" title="Dec">-</span>
                            <input type="text" class="qty-input js-cart-item-quantity-input" value="{{ item.quantity }}" readonly="readonly">
                            <span class="qty-inc-btn js-cart-item-quantity-change" data-action="inc" title="Inc">+</span>
                        </div>
                    </td>
                    <td class="no-wrap">{{ item.totalPrice|convert }} {{ currency }}</td>
                    <td class="product-action-td">
                        <span href="#" title="Remove product" class="btn-remove js-cart-item-remove" data-id="{{ item.product.id }}"><i class="fas fa-trash"></i></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="clearfix">
                    <a href="{{ path('homepage') }}" class="btn btn-default btn-primary btn-continue">Continue Shopping</a>
                    {#<button class="btn btn-default hover-primary btn-update js-cart-items-update">Update Shopping Cart</button>#}
                    <a href="{{ path('shop.order.delivery') }}" class="btn btn-secondary-scale-2 btn-proceed-checkout">Proceed to Checkout</a>
                    {#<button class="btn btn-default btn-primary btn-clear js-cart-items-clear">Clear Shopping Cart</button>#}
                </td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <div>Your cart is empty</div>
    {% endif %}
</div>