{# totalPrice \Order\Component\CartTotalPrice #}
<div class="panel panel-default js-cart-page-total-price-container">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" href="#panel-cart-total">
                Cart Totals
            </a>
        </h4>
    </div>
    <div id="panel-cart-total" class="accordion-body collapse in">
        <div class="panel-body">
            <table class="totals-table">
                <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td>{{ totalPrice.subTotal|convert }} {{ currency }}</td>
                    </tr>
                    <tr>
                        <td>Delivery price</td>
                        <td>{{ totalPrice.deliveryTax|convert }} {{ currency }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ totalPrice.total|convert }} {{ currency }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="totals-table-action">
                <a href="{{ path('shop.order.delivery') }}" class="btn btn-secondary-scale-2 btn-block">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>