<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle js-selected-country" data-toggle="dropdown">
            {{ selected.title }}
        </a>
        <ul class="dropdown-menu countries-list" role="menu">
            {% for country in countries %}
                <li {{ country.id == selected.id ? 'class="active"' : '' }}>
                    <a href="{{ path('shop.system.change_country', { selectedCountry: country.id }) }}" class="js-select-country">
                        {{ country.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>