<div class="header-dropdown cur-dropdown">
    {% if display %}
    <a href="#">{{  activeCurrency.name }} ({{ activeCurrency.code }}) <i class="fa fa-caret-down"></i></a>

    <ul class="header-dropdownmenu">
        {% for currency in currencies %}
            <li {{ currency.active ? 'class="active"' : '' }}>
                <a href="{{ path('shop.system.change_currency', { code: currency.code }) }}">
                    {{ currency.name }} ({{ currency.code }})
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>