{# currencies \Payment\Component\Currency[] #}
<div class="footer-payment">
    <ul class="list-unstyled clearfix">
        {% for currency in currencies %}
            <li>
                <a href="{{ path('shop.system.change_currency', {code: currency.code}) }}">
                    <img src="{{ currency.icon }}" alt="{{ currency.name }}" title="{{ currency.name }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>