{# order \Order\Entity\Order #}
{# browserData \Order\Entity\BrowserData #}
{% set browserData = order.browserData %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ 'Main Info'|trans }}</h4>
    </div>
    <table class="table table-striped table-contents">
        <tr>
            <td>User IP</td>
            <td>{{ browserData.ip ?? 'Unknown' }}</td>
        </tr>
        <tr>
            <td>Time Zone</td>
            <td>{{ browserData.timezone ?? 'Unknown' }}</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>{{ browserData.language ?? 'Unknown' }}</td>
        </tr>
        <tr>
            <td>User-Agent</td>
            <td>{{ browserData.userAgent ?? 'Unknown' }}</td>
        </tr>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ 'Geo Location'|trans }}</h4>
    </div>
    <table class="table table-striped table-contents">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for name,value in browserData.location %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ 'All request headers'|trans }}</h4>
    </div>
    <table class="table table-striped table-contents">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        {% for header,value in browserData.headers %}
            <tr>
                <td>{{ header }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
