{% extends '@Shop/layouts/main.html.twig' %}

{% block body %}
    {{ breadcrumbs() }}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}
                    {{ accountMenu() }}
                {% endblock %}
            </div>
            <div class="col-md-9 my-account">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/catalog.css') }}">
{% endblock %}