<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>My Zenithbay</h4>
            <ul class="links">
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="/about-us">About Us</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="/account/">My account</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="/account/orders">My orders</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Info</h4>
            <ul class="links">
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="/seller">Become a Seller</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Reports and Feedback</h4>
            <ul class="links">
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="{{ path('shop.feedback', {'type': 'feedback'}) }}" class="js-feedback-form-display-btn">Feedback</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="{{ path('shop.feedback', {'type': 'notFoundProduct'}) }}" class="js-feedback-form-display-btn">Didn’t find what you were looking for?</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="{{ path('shop.feedback', {'type': 'agreement'}) }}" class="js-feedback-form-display-btn">Report seller</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="{{ path('shop.feedback', {'type': 'intellectualRights'}) }}" class="js-feedback-form-display-btn">Report IPR infringement</a>
                </li>
                <li>
                    <i class="fa fa-caret-right text-color-primary"></i>
                    <a href="{{ path('shop.feedback', {'type': 'prohibited'}) }}" class="js-feedback-form-display-btn">Report item</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="newsletter">
                {{ subscribeNewsLetterForm() }}
            </div>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        <a href="{{ path('homepage')}}" class="logo">
            <img alt="ZenithBay" class="img-responsive" src="{{ asset('zenith-logo-footer.png') }}">
        </a>
        {{ currencyIconsList() }}
        {#<img alt="Payments" src="{{ asset('payment-methods-sm.png') }}" class="footer-payment">#}
        <p class="copyright-text">&copy; Copyright 2017. All Rights Reserved.</p>
    </div>
</div>

{{ googleAnalyticsTrackScript() }}