<div class="header-top">
    <div class="container">
        <div class="dropdowns-container">
            {{ currencySelector() }}
        </div>

        {{ userInfo() }}
    </div>
</div>

<div class="header-container container">
    <div class="header-row">
        <div class="header-column col-md-3">
            <div class="header-logo">
                <a href="{{ path('homepage')}}">
                    {% if app.environment == 'dev' %}
                        <img src="{{ asset('zenithbay-logo-dev-143x60.png') }}">
                    {% endif %}
                    {% if app.environment == 'prod' %}
                        <span id="zenithbay-logo">ZenithBay</span>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="header-column col-md-9">
            <div class="cart-area">
                {{ cartIcon() }}
            </div>

            {{ searchForm() }}
        </div>
    </div>
</div>

<div class="header-container header-nav">
    <div class="container">
        <div class="header-nav-main">
            <nav>
                {{ mainCategoryMenu() }}
            </nav>
        </div>
    </div>
</div>