{# Confirm modal #}
<script type="text/template" id="js-confirm-modal-template">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal">&times;</button>
                    <h3 class="js-confirm-modal-header">Attention</h3>
                </div>
                <div class="modal-body js-confirm-modal-body">
                    Do you confirm it action?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-confirm-btn">Ok</button>
                    <button type="button" class="btn btn-light js-cancel-btn js-close-modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>


{# alert modal #}
<script type="text/template" id="js-alert-template">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal">&times;</button>
                    <h3 class="js-alert-modal-header">Alert</h3>
                </div>
                <div class="modal-body js-alert-modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-close-modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</script>

{# notify modal #}
<script type="text/template" id="js-notify-template">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close js-close-modal">&times;</button>
                    <h3 class="js-notify-modal-header">Notify</h3>
                </div>
                <div class="modal-body js-notify-modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-close-modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</script>