<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Favicon -->
        {% if app.environment == 'dev' %}
            <link rel="shortcut icon" href="{{ asset('favicon-dev.ico') }}" type="image/x-icon" />
        {% endif %}
        {% if app.environment == 'prod' %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
            <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        {% endif %}
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>
            {% block title %}
                {% if app.environment == 'dev' %}
                    DEV - {{ seoTitle ? seoTitle : titleBreadcrumbs() }}
                {% endif %}
                {% if app.environment == 'prod' %}
                    {{ seoTitle ? seoTitle : titleBreadcrumbs() }}
                {% endif %}
            {% endblock %}
        </title>
        {{ seoMetaTags() }}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendors.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/zenithTheme.css') }}">
        {% endblock %}

    </head>
    <body
            data-socket-id="{{ socketId }}"
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}data-authenticated="1"{% endif %}
            data-login-url="{{ path('fos_user_security_login') }}"
    >
        <div class="body">
            {% block main_header %}
            <header id="header">
                <div class="header-body">
                    {% include '@Shop/layouts/header.part.twig' %}
                    {#<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a href="/" class="navbar-brand">Shop</a>
                                {{ mobileSticker() }}
                            </div>
                            <div class="navbar-collapse collapse">
                                {{ userInfo() }}
                                {{ cartIcon() }}
                                {{ currencySelector() }}
                                {{ countryChangeList() }}
                            </div>
                        </div>

                    </div>#}
                </div>
            </header>
            {% endblock %}
            <div role="main" class="main">
                {% block body %}
                {% endblock %}
            </div>
            <footer id="footer">
                {% include '@Shop/layouts/footer.part.twig' %}
            </footer>
        </div>
        {% block javascripts %}
            <script src="{{ asset('assets/vendors.js') }}"></script>
            <script src="{{ asset('assets/zenithTheme.js') }}"></script>
            <script src="{{ asset('assets/shopMain.js') }}"></script>
        {% endblock %}

        {% include '@Shop/layouts/js_templates.twig' %}
    </body>
</html>
