{% extends '@Shop/layouts/main.html.twig' %}

{% block title %}My{% endblock %}

{% block body %}
    {{ breadcrumbs() }}

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 my-account">

            </div>
            <div class="col-md-3 col-md-pull-9">

            </div>
        </div>
    </div>
    {% block main_menu %}
    <div class="row">
        <div class="col-xs-12">
            Main my menu
        </div>
    </div>
    {% endblock %}

    <div class="row">
        {% block content_without_menu %}
        <div class="col-xs-3">
        {% block second_menu %}
            Second Menu
        {% endblock %}
        </div>
        <div class="col-xs-9">
        {% block content_with_menu %}
            Content
        {% endblock %}
        </div>
        {% endblock %}
    </div>
{% endblock %}