{% extends '@Shop/layouts/main.html.twig' %}

{% block body %}
    <section class="form-section {% block section_class %}{% endblock %}">
        <div class="container">
            <h1 class="h2 heading-primary font-weight-normal mb-md mt-lg">{% block form_title %}Form Name{% endblock %}</h1>
            <div class="featured-box featured-box-primary featured-box-flat featured-box-text-left mt-md">
                <div class="box-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}