{% extends '@Shop/layouts/main.html.twig' %}

{% block body %}
    {{ breadcrumbs() }}
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                {% block content %}{% endblock %}
            </div>
            <aside class="col-md-3 col-md-pull-9 sidebar shop-sidebar">
                <div class="panel-group">
                    {% block sidebar %}
                        {{ sidebarCategoryMenu() }}
                    {% endblock %}
                    {{ catalogFilter() }}
                </div>
            </aside>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('assets/catalog.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/catalog.css') }}">
{% endblock %}