{# @controller CpBundle:Feedback:index #}
{% extends '@Cp/layout/main.html.twig' %}

{#{% block page_header %}Feedback{% endblock %}#}

{% block body %}


    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Date</th>
                <th>Email</th>
                <th>Has Reply</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbackItems %}
                <tr>
                    <td>{{ feedback.id }}</td>
                    <td>{{ feedback.type }}</td>
                    <td>{{ feedback.createdAt|date }}</td>
                    <td>{{ feedback.email }}</td>
                    <td>
                        {% if feedback.answer %}
                            <i class="fas fa-plus"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a
                            href="{{ path('cp.feedback.reply', {'id': feedback.id}) }}"
                            class="btn btn-primary btn-sm js-feedback-reply"
                            title="Reply"
                            data-id="{{ feedback.id }}"
                            data-type="{{ feedback.type }}"
                        >
                            <i class="fas fa-reply"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Nothing found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}