{# @controller CpBundle:Feedback:reply #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}{{ feedback.readableType }} #{{ feedback.id }}{% endblock %}

{% block body %}
    <table class="table table-striped table-contents">
        <tr>
            <td>ID</td>
            <td>{{ feedback.id }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ feedback.email }}</td>
        </tr>
        {% if feedback.fullName is defined %}
            <tr>
                <td>Full Name</td>
                <td>{{ feedback.fullName }}</td>
            </tr>
        {% endif %}

        {% if feedback.url is defined %}
            <tr>
                <td>Product or store Url</td>
                <td>{{ feedback.url }}</td>
            </tr>
        {% endif %}

        {% if feedback.kind is defined %}
            <tr>
                <td>Kind of Prohibited Product</td>
                <td>{{ feedback.kind }}</td>
            </tr>
        {% endif %}

        {% if feedback.country is defined %}
            <tr>
                <td>Country</td>
                <td>{{ feedback.country.title }}</td>
            </tr>
        {% endif %}

        <tr>
            <td>Comment</td>
            <td>{{ feedback.comment|nl2br }}</td>
        </tr>
    </table>

    <div class="feedback-reply-form-wrap">
        {{ form_start(replyForm) }}
        {{ form_widget(replyForm) }}
        <button type="{{ enableForm ? 'submit' : 'button' }}" class="btn btn-success {{ enableForm == true ?: 'disabled' }}">Reply</button>
        <a href="{{ path('cp.feedback.index') }}" class="btn btn-default">Cancel</a>
        {{ form_end(replyForm) }}
    </div>
{% endblock %}