<div class="header-search">
    <!--a href="#" class="search-toggle"><i class="fa fa-search"></i></a-->
    {{ form_start(form, { attr: { class: 'form-inline js-search-form', role: 'search' } }) }}
        <div class="header-search-wrapper">
            {{ form_widget(
                form.query,
                {
                    'attr': {
                        'class': 'js-catalog-search-input',
                        'data-suggestions-url': path('shop.catalog.autocomplete'),
                        'autocomplete': 'Off'
                    }
                }
            ) }}
            {# <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required> #}
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
    {{ form_end(form) }}
</div>

{{ form_end(form) }}