{# @controller ShopBundle:Referral:index #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#deep-links" data-toggle="tab">Deep Links</a>
        </li>
        <li>
            <a href="#history" data-toggle="tab">History</a>
        </li>
        <li>
            <a href="#withdrawal" data-toggle="tab">Withdrawal</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="deep-links">
            {% include '@Shop/account/referral/tabs/deep_links.part.twig' %}
        </div>
        <div class="tab-pane" id="history">
            {% include '@Shop/account/referral/tabs/history.part.twig' with { historyItems: historyItems } only %}
        </div>
        <div class="tab-pane" id="withdrawal">
            {% include '@Shop/account/referral/tabs/withdrawal.part.twig' %}
        </div>
    </div>

    <div>
        <a href="{{ path('shop.feedback', {'type': 'feedback'}) }}" class="btn btn-light js-feedback-form-display-btn">Feedback</a>
    </div>

    {#{% if purchases.count %}#}
        {#<hr>#}
        {#<h3>Purchases your referrals:</h3>#}
        {#<table class="table">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Purchase date</th>#}
                {#<th>Amount</th>#}
                {#<th>Status</th>#}
            {#</tr>#}
            {#</thead>#}
        {#</table>#}
    {#{% endif %}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/referrals.js') }}"></script>
{% endblock %}