{# @controller ShopBundle:Feedback:index #}
{% extends '@Kerosin/layout/modal.twig' %}

{% block preBody %}
    {{ form_start(form, {'attr': {'class': 'js-feedback-form feedback-form'}}) }}
{% endblock %}

{% block header %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ form_widget(form, {'attr': {'class': 'js-feedback-form-fields-container'}}) }}
{% endblock %}

{% block footer %}
    <button type="submit" class="btn btn-primary">Send</button>
    <button type="button" class="btn btn-default js-close-modal">Close</button>
{% endblock %}

{% block postBody %}
    {{ form_end(form) }}
{% endblock %}