<div class="modal js-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            {% block preBody %}{% endblock %}
            <div class="modal-header">
                <button type="button" class="close js-close-modal">&times;</button>
                {% block header %}
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block footer %}
                    <button type="button" class="btn btn-default js-close-modal">Close</button>
                {% endblock %}
            </div>
            {% block postBody %}{% endblock %}
        </div>
    </div>
</div>