{% form_theme itemBlockForm with [
    '@Kerosin/items_block_type/manual_product.twig',
    '@Kerosin/items_block_type/category_type.twig',
    '@Kerosin/items_block_type/banners_type.twig'
] %}

{{ form_start(itemBlockForm) }}
        {{ form_row(itemBlockForm.type, {
            'attr': {
                'class': 'js-type-item-block-field',
                'data-url': path('cp.catalog.item_block.create'),
                'data-param': 'type'
            }
        }) }}
        {{ form_row(itemBlockForm.title) }}
        {{ form_row(itemBlockForm.weight) }}
        {{ form_row(itemBlockForm.area) }}

        <div class="js-parameters-container">
            {{ form_widget(itemBlockForm) }}
            {% if itemBlockForm.params is defined %}
                {{ form_row(itemBlockForm.params) }}
            {% endif %}
        </div>

<button type="submit" class="btn btn-success js-loader" data-loader-size="16">Save</button>
<a href="{{ path('cp.catalog.item_block.index') }}" class="btn btn-default">Cancel</a>
{{ form_end(itemBlockForm) }}