{# @controller CpBundle:ItemBlock:createUpdate #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}
    {% if isCreate %}Create{% else %}Update{% endif %} a Block
{% endblock %}

{% block body %}
    <div class="js-item-block-container">
        {% include '@Cp/item_block/form.part.twig' %}
    </div>
{% endblock %}