{# @controller CpBundle:ItemBlock:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Blocks of Items{% endblock %}

{% block body %}

    <a href="{{ path('cp.catalog.item_block.create') }}" class="btn btn-success btn-create">Create a Block</a>

    <table class="table table-striped">
        <tr>
            <th class="zt-width_5pct">Id</th>
            <th>Title</th>
            <th class="zt-width_15pct">Type</th>
            <th class="zt-width_15pct">Area</th>
            <th class="zt-width_5pct">Enabled</th>
            <th class="zt-width_5pct">Weight</th>
            <th class="zt-width_10pct"></th>
        </tr>
        {% for itemBlock in itemBlocks %}
            {# itemBlock \Content\ORM\Entity\ItemBlock #}
            <tr>
                <td>{{ itemBlock.id }}</td>
                <td>{{ itemBlock.title }}</td>
                <td>{{ itemBlock.type }}</td>
                <td>
                    {{ itemBlock.readableArea }}
                </td>
                <td>
                    {% if itemBlock.enable %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                </td>
                <td>
                    {{ itemBlock.weight }}
                </td>
                <td>
                    <div class="btn-group-sm">
                        <a href="{{ path('cp.catalog.item_block.edit', {'id': itemBlock.id}) }}" class="btn btn-primary">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="{{ path('cp.catalog.item_block.delete', {'id': itemBlock.id}) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(itemBlocks) }}
    </div>

{% endblock %}