{{ form_start(form) }}

{% for child in form.children %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {{ child.vars.label }}
            </h4>
        </div>
        <div class="panel-body">
            {% if child.vars.id == 'filter:price' %}
                <div class="filter-wrapper filter-range-wrapper clearfix">
                    <div class="filter-range-value-wrapper">
                        {{ form_widget(child.min) }}
                        <span class="filter-range-label">min</span>
                    </div>
                    <div class="filter-range-value-wrapper">
                        {{ form_widget(child.max) }}
                        <span class="filter-range-label">max</span>
                    </div>
                </div>
            {% else %}
                {{ form_widget(child) }}
            {% endif %}
            <div class="filter-wrapper apply-filter-wrapper">
                <a href="#" class="btn btn-primary">Apply</a>
            </div>
        </div>
    </div>
{% endfor %}

{{ form_end(form) }}