{% block banners_type_item_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.image) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.url) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.weight) }}
        </div>
    </div>
{% endblock %}