{% block category_item_type_widget %}
    <div class="row block-type-category-row">
        <div class="col-md-3 category">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-5 image">
            {{ form_row(form.image) }}
        </div>
        <div class="col-md-2 weight">
            {{ form_row(form.weight) }}
        </div>
    </div>
{% endblock %}