{% block product_search_field_widget %}
<div class="hidden">
    {% set attr = attr|merge({'class': 'js-manual-product-field'}) %}
    {{ block('form_widget_simple') }}
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="manual_product_search" class="form-control-label">
                Search Products
            </label>
            <input
                class="form-control js-manual-product-search-field"
                id="manual_product_search"
                data-url="{{ searchUrl }}"
                placeholder="Search...">
        </div>
        <div class="">
            <div class="media-list js-search-container"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="media-list {% if products|length %}items-container{% endif %} js-items-container">
            {% for product in products %}
                {# product \Catalog\ORM\Entity\Product #}
                <li class="media js-product-item js-sortable-item product-item" data-id="{{ product.id }}">
                    <a class="pull-left" href="{{ path('shop.catalog.product', {'id': product.id}) }}" target="_blank">
                        <img class="media-object zt-width_64px" src="{{ image_path(product.mainImage) }}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ product.title }}</h4>
                        <ul class="list-unstyled">
                            <li>Category: {{ product.categories.first.title }}</li>
                            <li>Inner Price: {{ product.price.value }} $</li>
                            <li>Public Price: {{ product.publicPrice }} $</li>
                        </ul>
                        <button type="button" class="btn btn-danger js-drop-product">Drop</button>
                    </div>
                </li>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/template" id="js-manual-product-search-result-item-template">
    <li class="media js-product-item product-item" data-id="__id__">
        <a class="pull-left" href="__url__" target="_blank">
            <img class="media-object zt-width_64px" src="__image__">
        </a>
        <div class="media-body">
            <h4 class="media-heading">__title__</h4>
            <ul class="list-unstyled">
                <li>Category: __category__</li>
                <li>Inner Price: __inner_price__ $</li>
                <li>Public Price: __public_price__ $</li>
            </ul>
            <button type="button" class="btn btn-primary js-add-product">Add</button>
            <button type="button" class="btn btn-danger js-drop-product hidden">Drop</button>
        </div>
    </li>
</script>
{% endblock %}