{# id int #}
{# isAdd bool #}
{% set route = isAdd ? 'shop.account.wish.add' : 'shop.account.wish.drop' %}
<a href="{{ path(route, {'product': id}) }}"
   class="addtowishlist {% if isAdd %}delisted{% else %}enlisted{% endif %} js-wish-product js-login-require"
   title="{{ isAdd ? 'Add to wishlist' : 'Remove from wishlist'}}">
    <i class="{% if isAdd %}far fa-heart{% else %}fas fa-heart{% endif %}"></i>
</a>