{% if account is null %}
    <span class="label label-success">Genesis</span>
{% elseif account.mainSystem %}
    <span class="label label-danger">System</span>
{% elseif account.bot %}
    <span class="label label-default">
        {{ account.id }}
    </span>
{% else %}
    <span class="label label-primary">
        {{ account.id }}
    </span>
{% endif %}