{# @controller CpBundle:Billing:account #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Billing Accounts{% endblock %}

{% block body %}
    <div class="billing-accounts-wrap">
        <div class="row">
            <div class="col-md-12">
                {% include '@Cp/billing/filter/accounts.twig' with { 'filter': filter } only %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th class="zt-width_5pct">Id</th>
                        <th class="zt-width_10pct">Created At</th>
                        <th class="zt-width_15pct">Balance</th>
                        <th>User</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for account in accounts %}
                        {# account \Billing\Entity\Account #}
                        <tr>
                            <td>{{ account.id }}</td>
                            <td>{{ account.createdAt|date }}</td>
                            <td>{{ account.balance }} ZBC</td>
                            <td>
                                {% if account.user %}
                                    <span class="username">{{ account.user.username }}</span>
                                {% endif %}
                                {% if account.mainSystem %}
                                    <span class="label label-danger">System</span>
                                {% endif %}
                                {% if account.bot %}
                                    <span class="label label-default">Bot</span>
                                {% endif %}
                            </td>
                            <td>{{ account.description }}</td>
                            <td>
                                <div class="btn-group">
                                    {% if account.user %}
                                        <a
                                                href="{{ path('cp.billing.transaction.index', {'fromAccount': account.id, 'toAccount': account.id }) }}"
                                                class="btn btn-primary"
                                                target="_blank"
                                        >Transactions</a>
                                    {% else %}
                                        <a
                                                href="{{ path('cp.billing.transaction.index', {'account': account.id }) }}"
                                                class="btn btn-primary"
                                                target="_blank"
                                        >Transactions</a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>System doesn't have account yet, initialize billing</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(accounts) }}
        </div>
    </div>

{% endblock %}