{# @controller CpBundle:Billing:transaction #}

{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}Transactions{% endblock %}

{% block body %}
    <div class="billing-transaction-wrap">
        <div class="row">
            <div class="col-md-12">
                {% include '@Cp/billing/filter/transactions.twig' with {'filter': filter } only %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Created At</th>
                        <th>From Account</th>
                        <th>To Account</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Description</th>
                    </tr>

                    {% for transaction in transactions %}
                        {# transaction \Billing\Entity\Transaction #}
                        <tr>
                            <td>{{ transaction.id }}</td>
                            <td>{{ transaction.createdAt|date('d-m-Y') }}</td>
                            <td>
                                {% include '@Cp/billing/_accountCeil.twig' with { account: transaction.fromAccount } only %}
                            </td>
                            <td>
                                {% include '@Cp/billing/_accountCeil.twig' with { account: transaction.toAccount } only %}
                            </td>
                            <td>{{ transaction.amount }}</td>
                            <td>
                                {{ transaction.formattedStatus }}
                            </td>
                            <td>
                                {{ transaction.description }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(transactions) }}
        </div>
    </div>
{% endblock %}
