{% set fieldOptions = {
    'label_attr': { 'class': 'required' },
    'attr': { 'autocomplete': 'off' }
} %}

<div class="form-col js-checkout-form-container">
    <h3>Name & Address</h3>
    {{ form_start(form, { attr: {autocomplete: 'off', class: 'js-delivery-form'} } ) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.delivery.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.delivery.lastName) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.delivery.address) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.delivery.apartment) }}
            </div>
        </div>
    {% if form.email is defined %}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.email) }}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.delivery.country, {
                attr: {
                    class: 'js-checkout-form-country-field'
                }
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.delivery.stateAutocomplete, fieldOptions) }}
            {{ form_row(form.delivery.stateSimple, fieldOptions) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.delivery.cityAutocomplete, fieldOptions) }}
            {{ form_row(form.delivery.citySimple, fieldOptions) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.delivery.zipAutocomplete, fieldOptions) }}
            {{ form_row(form.delivery.zipSimple, fieldOptions) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.comment) }}
        </div>
    </div>

    {% if form.createNewAccount is defined %}
        <div class="checkbox mb-sm">
            {{ form_row(form.createNewAccount) }}
        </div>
    {% endif %}

    {% if form.userDeliveryInfo is defined %}
        {{ form_row(form.userDeliveryInfo) }}
    {% endif %}

    {{ form_end(form) }}
</div>