{# @controller ShopBundle:Order:delivery #}
{% extends '@Shop/layouts/main.html.twig' %}

{% block title %}Checkout and filling delivery info{% endblock %}


{% block body %}
    <div class="checkout">
        <div class="container">
            <h1 class="h2 heading-primary mt-lg mb-md clearfix">Checkout</h1>
            <div class="checkout-menu clearfix">
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary pull-left mb-sm" data-toggle="modal" data-target=".shop-login-modal">LOGIN</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="checkout-address-wrapper col-md-8">
                    {% include '@Shop/order/checkout/form.part.twig' %}
                </div>
                <div class="checkout-currency-wrapper col-md-4">
                    {% include '@Shop/order/checkout/payment.part.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/checkout.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/checkout.css') }}">
{% endblock %}