<div class="js-checkout-payment-container">
    {{ form_start(currencyForm) }}

    <div class="form-col">
        <h3>Payment Currency</h3>
        {{ form_row(currencyForm.currency) }}
    </div>

    {% if form.znt is defined %}
    <div class="form-col">
        <h3>Bonuses</h3>
        {{ form_row(currencyForm.znt) }}
    </div>
    {% endif %}

    {{ form_end(currencyForm) }}

    <div class="form-col">
        <div class="checkout-review-action js-checkout-review">
            <h5>Subtotal <span class="amount-value js-sub-total-amount-value"></span></h5>
            <h5>Delivery price <span class="amount-value js-delivery-tax-amount-value"></span></h5>
            <h5>Total <span class="amount-value js-total-amount-value"></span></h5>
            <button type="button" class="btn btn-primary js-checkout-form-place-order-btn">Place your order</button>
        </div>
    </div>
</div>