<div class="dropdown-menu js-checkout-review-order" aria-labelledby="reviewTable">
    <h3>Review Your Order</h3>
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th class="text-center">Qty</th>
            <th class="text-right">Subtotal</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-right">{{ item.product.publicPrice|convert }} {{ currency }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td class="text-right" colspan="2">Subtotal</td>
            <td class="text-right">{{ total.subTotal|convert }} {{ currency }}</td>
        </tr>
        </tfoot>
    </table>
</div>