{# order \Order\Entity\Order #}
{% set moderatorMode = moderatorMode ?? false %}
<h4>Order Details</h4>
<table style="border: 1px solid gray; width: 100%">
    <tbody>
        <tr>
            <td>Order Code</td>
            <td>{{ order.code }}</td>
        </tr>
        <tr>
            <td>Order Date</td>
            <td>{{ order.createdAt|date }}</td>
        </tr>
        <tr>
            <td>Order Status</td>
            <td>{{ order.currentStatus.readableStatus }}</td>
        </tr>
        <tr>
            <td>Details of Order URL</td>
            <td>{{ absolute_url(path('shop.account.orders.detail', {'hash': order.hash })) }}</td>
        </tr>
        {% if moderatorMode %}
            <tr>
                <td>Control Panel Url</td>
                <td>{{ absolute_url(path('cp.order.process', { 'id': order.id })) }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<h4>Products in Order</h4>
<table style="border: 1px solid gray; width: 100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% set realPayment = order.realPayments.count ? order.realPayments.first : false %}
        {% for item in order.orderProducts %}
            {# realPayment \Payment\Entity\Payment #}
            {# item \Order\Entity\OrderProduct #}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    {% if realPayment %}
                        {{ item.publicPrice|convert(realPayment.currency, realPayment.rate) }}
                    {% else %}
                        {{ item.publicPrice|convert(order.currency) }}
                    {% endif %}
                </td>
                <td>
                    {% if realPayment %}
                        {{ item.totalPublicPrice|convert(realPayment.currency, realPayment.rate) }}
                    {% else %}
                        {{ item.totalPublicPrice|convert(order.currency) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Delivery info</h4>
{# delivery \Order\Entity\DeliveryInfo #}
{% set delivery = order.delivery %}
<table style="border: 1px solid gray; width: 100%">
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{ delivery.firstName }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ delivery.lastName }}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{ delivery.country.title }}</td>
        </tr>
        <tr>
            <td>Region|State</td>
            <td>{{ delivery.state.title }}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{ delivery.city.title }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ delivery.address }}</td>
        </tr>
        {% if delivery.apartment %}
            <tr>
                <td>Apartment</td>
                <td>{{ delivery.apartment }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

