<a href="{{ isAdd ? path('shop.cart.add') : path('shop.cart.remove') }}"
   class="{{ isAdd ? 'js-cart-add' : 'js-cart-delete' }} addtocart"
   title="{{ isAdd ? 'Add to cart' : 'Remove from cart'}}"
   data-id="{{ id }}">
    <i class="fa fa-shopping-cart"></i>
    <span>{{ isAdd ? 'Add to cart' : 'Remove from cart'}}</span>
</a>