<div class="cart-dropdown">
    <a href="{{ path('shop.cart.index') }}" class="cart-dropdown-icon">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-info">
            <span class="js-cart-qty cart-qty">{{ count ?? 0 }}</span>
        </span>
    </a>

    <div class="cart-dropdownmenu right">
            <div class="dropdownmenu-wrapper js-preview-container">
                {% include '@Shop/widgets/cart/items_preview.twig' %}
            </div>
    </div>
</div>

{#<ul class="nav navbar-nav navbar-right cart-preview">#}
    {#<li>#}
        {#<a href="#" class="cart-preview-button dropdown-toggle" data-toggle="dropdown">#}
            {#<span class="glyphicon glyphicon-shopping-cart"></span>#}
            {#{% if count > 0 %}#}
                {#<span class="badge cart-badge">{{ count }}</span>#}
            {#{% endif %}#}
        {#</a>#}
        {#<div class="dropdown-menu js-preview-container" role="menu">#}
            {#{% include '@Shop/widgets/cart/items_preview.twig' %}#}
        {#</div>#}
    {#</li>#}
{#</ul>#}