{# items \Catalog\Order\Cart\CartItem[] #}
{# count int #}
{# totalPrice \Order\Component\CartTotalPrice #}

{% if count > 0 %}
    <div class="cart-products">
        {% for item in items|slice(0, 3) %}
            <div class="product product-sm js-product-card">
                <figure class="product-image-area">
                    <a href="{{ relativePageAlias('product', item.product.id) }}" title="{{ item.product.title }}" class="product-image">
                        <img src="{{ image_path(item.product.mainImage) }}" alt="{{ item.product.title }}">
                    </a>
                </figure>
                <div class="product-details-area">
                    <h2 class="product-name">
                        <a href="{{ relativePageAlias('product', item.product.id) }}" title="{{ item.product.title }}">
                            {{ item.product.title }}
                        </a>
                    </h2>

                    <div class="cart-qty-price">
                        <span class="js-cart-item-quantity">{{ item.quantity }}</span> x <span class="product-price">{{ item.product.publicPrice|convert }} {{ currency }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        {%  if items|length > 3 %}
            <a href="{{ path('shop.cart.index') }}" class="btn btn-secondary btn-block">View all</a>
        {% endif %}
    </div>

    <div class="cart-totals">
        Total: <span>{{ totalPrice.subTotal|convert }} {{ currency }}</span>
    </div>

    <div class="cart-actions">
        <a href="{{ path('shop.cart.index') }}" class="btn btn-primary">View Cart</a>
        <a href="{{ path('shop.order.delivery') }}" class="btn btn-primary">Checkout</a>
    </div>
{% else %}
    <div class="cart_empty">Your cart is empty</div>
{% endif %}
