{# @controller UserBundle:account:orderList #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    {# orders \Order\Entity\Order[] #}
    {#<table class="table table-striped">#}
        {% for order in orders %}
            <div class="panel-box js-collapsible collapsible collapsed order-info-item">
                <div class="panel-box-title">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="order-id">{{ order.code }}</div>
                            <div class="order-date">{{ order.createdAt|date }}</div>
                        </div>
                        <div class="col-md-3">
                            <div class="order-items-count"><span class="order-items-count-wrapper">Total items: {{ order.orderProducts|length }}</span></div>
                        </div>
                        <div class="col-md-3">
                            <div class="order-status">
                                {{ order.currentStatus.readableStatus }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="order-sum">
                                {% if order.mainPayment %}
                                    {{ order.totalPublicPrice|convert(order.mainPayment.currency, order.mainPayment.rate) }} {{ order.mainPayment.currency }}
                                {% else %}
                                    {{ order.totalPublicPrice|convert }} {{ currency }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-box-content">
                    <table class="table order-items">
                        {% for item in order.orderProducts %}
                            {# item \Catalog\ORM\Entity\OrderPosition #}
                            <tr>
                                <td class="zt-width_75pct zt-font-weight_b"><a href="{{ pageAlias('product', item.product.id) }}" target="_blank">{{ item.product.title }}</a></td>
                                <td class="zt-width_5pct">{{ item.quantity }}</td>
                                <td class="zt-width_15pct">
                                    {% if order.mainPayment %}
                                        {{ item.totalPublicPrice|convert(order.mainPayment.currency, order.mainPayment.rate) }} {{ order.mainPayment.currency }}
                                    {% else %}
                                        {{ item.totalPublicPrice|convert }} {{ currency }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="btn-group-sm">
                        <a href="{{ path('shop.account.orders.detail', {'hash': order.hash}) }}" class="btn btn-primary" title="Order details">
                            <span class="fa fa-eye"></span> Display order
                        </a>
                        {% if order.currentStatus.type == constant('\\Catalog\\ORM\\Entity\\OrderStatus::PAYMENT_WAIT') %}
                            <a href="{{ path('shop.payment.index', {'hash': order.hash}) }}" class="btn btn-success" title="Pay Order">
                                <span class="fa fa-dollar"></span> Pay order
                            </a>
                            <a href="{{ path('shop.order.cancel', {'hash': order.hash}) }}"
                               class="btn btn-danger js-link-require-confirm"
                               title="Cancel Order"
                               data-confirm-message="Would you like to cancel the Order?"
                               data-confirm-title="Cancel an Order"
                               data-confirm-button="Yes"
                               data-confirm-cancel-button="No"
                            >
                                <span class="fa fa-trash"></span> Cancel order
                            </a>
                        {% endif %}

                        {% if order.currentStatus.type == constant('\\Catalog\\ORM\\Entity\\OrderStatus::SHIPPING') %}
                            <a href="{{ path('shop.account.order.accept', {'hash': order.hash}) }}"
                               class="btn btn-success js-link-require-confirm"
                               title="Confirm order received"
                               data-confirm-message="Would you like to confirm order received?"
                               data-confirm-title="Confirm order received"
                               data-confirm-button="Yes"
                               data-confirm-cancel-button="No"
                            >
                                <i class="fa fa-check"></i> Confirm order received
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {#<tr>
                <td>{{ order.code }}</td>
                <td>{{ order.createdAt|date }}</td>
                <td>{{ order.currentStatus.readableStatus }}</td>
                <td style="width: 100px">
                    <a href="{{ path('shop.order.status', {'hash': order.hash}) }}" class="link-icon">
                        <span class="fa fa-eye"></span>
                    </a>
                    {% if order.currentStatus.type == constant('\\Catalog\\ORM\\Entity\\OrderStatus::PAYMENT_WAIT') %}
                        <a href="{{ path('shop.payment.index', {'hash': order.hash}) }}" class="link-icon">
                            <span class="fa fa-dollar"></span>
                        </a>
                        <a href="{{ path('shop.order.cancel', {'hash': order.hash}) }}" class="link-icon">
                            <span class="fa fa-trash"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="table">
                        {% for item in order.orderProducts %}
                             item \Order\Entity\OrderProduct
                            <tr>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.innerPriceWithScale|convert(order.payment) }} {{ item.currency }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>#}
        {% else %}
            <tr>
                <td colspan="4">
                    Your list of orders is empty
                </td>
            </tr>
        {% endfor %}
    {#</table>#}
{% endblock %}