{% set orderCurrency = order.mainPayment ? order.mainPayment.currency : currency %}
{% set rate = order.mainPayment ? order.mainPayment.rate : null %}

<div class="panel-box">
    <div class="panel-box-title">
        <strong>Order #{{ order.code }}</strong>
    </div>
    <div class="panel-box-content">
        {% for item in order.orderProducts %}
            {# item \Order\Entity\OrderProduct #}

            <table class="table order-item">
                <thead>
                    <tr>
                        <th colspan="2">Items</th>
                        <th>Qty</th>
                        <th>Item price</th>
                        <th>Delivery price</th>
                        <th>Order item status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="{{ image_path(item.product.mainImage) }}_50x50.jpg" alt="{{ item.product.title }}" title="{{ item.product.title }}" />
                        </td>
                        <td>
                            <a href="{{ relativePageAlias('product', item.product.id) }}" title="{{ item.product.title }}">{{ item.product.title }}</a>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.totalPublicPrice|convert(orderCurrency, rate) }} {{ orderCurrency }}</td>
                        <td>{{ item.shipmentTax|convert(orderCurrency, rate) }} {{ orderCurrency }}</td>
                        <td>{{ item.readableStatus }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-twig-vars">
                {% if item|canOpenDispute %}
                    <tr>
                        <td><a href="{{ path('shop.account.order.dispute.create', {hash: order.hash, position: item.id}) }}">Open a dispute</a></td>
                    </tr>
                {% endif %}

                {% if item.disputes.count %}
                    <tr>
                        <td>
                            <a href="{{ path('shop.account.order.dispute.view', {hash: order.hash, position: item.id}) }}">View dispute</a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
    </div>
</div>

<div class="panel-box">
    <div class="panel-box-title">
        <strong>Delivery Info</strong>
    </div>
    <div class="panel-box-content">
        {% set deliveryInfo = order.delivery %}
        {# deliveryInfo \Order\Entity\OrderDeliveryInfo #}
        <div>Contact name: {{ deliveryInfo.firstName }} {{ deliveryInfo.lastName }}</div>
        <div>Address: {{ deliveryInfo.address }}, {{ deliveryInfo.apartment }}</div>
        <div>{{ deliveryInfo.city.title }}, {{ deliveryInfo.state.title }}, {{ deliveryInfo.country.title }}</div>
    </div>
</div>

{% if order.mainPayment %}
    <div class="panel-box">
        <div class="panel-box-title">
            <strong>Payment</strong>
        </div>
        <div class="panel-box-content">
            {% set paymentByZnt = order.paymentsByZnt.first %}
            {# paymentByZnt \Payment\Entity\Payment #}

            {% if paymentByZnt %}
                <h3>Payment by bonuses (ZNT)</h3>
                <div>{{ paymentByZnt.amount }} {{ paymentByZnt.currency }} {{ paymentByZnt.readableStatus }}</div>
            {% endif %}

            {# payment \Payment\Entity\Payment #}
            {% set payment = order.realPayments.first %}
            <h3>Payment by crypto</h3>
            <div>{{ payment.amount|convert(rate=payment.rate) }} {{ payment.currency }} {{ payment.readableStatus }}</div>
        </div>
    </div>
{% endif %}

<div class="panel-box">
    <div class="panel-box-title"><strong>Total</strong></div>
    <div class="panel-box-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Item total</th>
                    <th>Delivery price</th>
                    <th>Total with delivery</th>
                </tr>
            </thead>
            <tr>
                <td>{{ totalPrice.subTotal|convert(rate=rate) }} {{ orderCurrency }}</td>
                <td>{{ totalPrice.deliveryTax|convert(rate=rate) }} {{ orderCurrency }}</td>
                <td>{{ totalPrice.total|convert(rate=rate) }} {{ orderCurrency }}</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <a href="{{ path('shop.account.order.chat', {'hash': order.hash}) }}" class="btn btn-primary">Ask your question about order</a>
    {% if order|orderCanAccept %}
        <a href="{{ path('shop.account.order.accept', {'hash': order.hash}) }}" class="btn btn-success">Accept an Order</a>
    {% endif %}
</div>