{% block autocomplete_widget %}
    <div class="js-auto-complete" data-url="{{ url }}" {% if canCreate %}data-can_create="{{ canCreate }}"{% endif %}>
        <select {{ block('widget_attributes') }}>
            {% if value is not empty %}
                <option value="{{ value.id }}">{{ value.title }}</option>
            {% endif %}
        </select>
    </div>
{% endblock %}