{% block collection_widget %}
    <div class="collection-container" id="{{ id }}" {% if allow_add %} data-prototype="{{ form_widget(form.vars.prototype)|e }}"{% endif %} {% if attr.element_class is defined %}data-element-class="{{ attr.element_class }}"{% endif %}>
        {% for child in form.children %}
            <div class="form-inline collection-element {% if attr.element_class is defined %}{{ attr.element_class }}{% endif %}">
                {% if allow_delete %}
                    <div class="row">
                        <div class="col-md-11">
                            {{ form_row(child, {'label': false}) }}
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger collection-element-delete">
                                <span class="glyphicon glyphicon-trash" title="delete element"></span>
                            </button>
                        </div>
                    </div>
                {% else %}
                    {{ form_row(child, {'label': false}) }}
                {% endif %}
            </div>
        {% endfor %}
        {% if allow_add %}
            <button type="button" class="btn btn-success collection-element-add">Add element</button>
        {% endif %}
    </div>

{% endblock %}