{% block form_row -%}
    {% set inlineClass = attr.inline is defined and attr.inline == true ? ' form-inline' : '' %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{{ inlineClass }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block simple_entity_field_widget %}
    {% if isTextInput %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({'class': 'form-control ' ~ attr.class ?? '' }) %}
        <select name="{{ full_name }}" {% for name,value in attr %}{{ name }}="{{ value }}"{% endfor %}>
        {% if value.text is defined %}
            <option value="{{ value.value }}">{{ value.text }}</option>
        {% endif %}
        </select>
    {% endif %}
{% endblock %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' form-control-label')|trim}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}

{% block date_range_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.begin) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>
    </div>
{% endblock %}

{% block range_field_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.min) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.max) }}
        </div>
    </div>
{% endblock %}

{% block category_tree_widget %}
    <div class="js-category-tree-container category-tree-container">
        <div class="form-group">
            <input class="js-category-tree-filter form-control zt-margin-b_15px" placeholder="Filter they">
            {{ form_widget(form, {'attr': {'class': 'js-category-tree-field category-tree-field'}}) }}
        </div>
    </div>
{% endblock %}