{% block image_with_url_label %}{% endblock %}

{% block image_with_url_widget %}
    <div class="image-field-container">
        {{ form_row(form.src) }}
        {% if value.src or (extended and value.url) %}
            <div class="row">
                <div class="col-md-3">
                    <img src="{% if value.src %}{{ image_path(value.src) }}{% elseif value.url %}{{ value.url }}{% endif %}" class="img-thumbnail" width="150">
                </div>
            </div>
        {% endif %}
        <div class="form-group image-fields-group">
            <h5>Upload Image</h5>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.file) }}
                </div>
                {% if extended %}
                <div class="col-md-3">
                    {{ form_row(form.url) }}
                </div>
                {% endif %}
            </div>
            {% if extended %}
            <h5>SEO Data</h5><hr />
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.alt) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}