{# item \Catalog\ORM\Entity\OrderPosition #}
<table class="table table-striped table-contents">
    {% if item.product.seller.internal %}
        <tr>
            <td colspan="2">
                <span class="bg-warning">Internal seller</span>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>Status</td>
        <td>{{ item.readableStatus }}</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>{{ item.quantity }}</td>
    </tr>
    <tr>
        <td>Inner Price</td>
        <td>{{ item.product.price.value }}$</td>
    </tr>
    <tr>
        <td>Shipment Tax</td>
        <td>{{ item.shipmentTax }}</td>
    </tr>
    {% if item.comment %}
        <tr>
            <td>Comment</td>
            <td>{{ item.comment }}</td>
        </tr>
    {% endif %}
    {% if item.aliExpressDeliveryFee and item.aliExpressDeliveryFee.selectedCompany %}
        {% set deliveryCompany = item.aliExpressDeliveryFee.selectedCompany %}
        <tr>
            <td colspan="2">
                <h4>Delivery Company Info</h4>
                {% include '@Cp/log/pretty.part.twig' with { items: deliveryCompany } only %}
            </td>
        </tr>
    {% endif %}
</table>