{# orderProduct \Order\Entity\OrderProduct #}
{# form \Cp\Form\OrderProductType #}

<h4>Update a product</h4>

{{ form_start(form, { action: path('cp.order.update.product', { orderProduct: orderProduct.id }) }) }}
{{ form_widget(form) }}
<button type="button" class="btn btn-success js-send-product-form" data-item-id="{{ orderProduct.id }}">{{ 'Save'|trans }}</button>
<button type="button" class="btn btn-default js-cancel-update-product">{{ 'Cancel'|trans }}</button>
{{ form_end(form) }}