{# order \Order\Entity\Order #}
{% for item in order.orderProducts %}
    {# item \Order\Entity\OrderProduct #}
    <div class="panel panel-default">
        <div class="panel-heading">{{ item.product.title }}</div>
        <div class="js-product-info" data-item-id="{{ item.id }}">
            {% include '@Cp/order/cart_tab/product.twig' with { item: item } only %}
        </div>
        <div class="js-product-form product-form hide" data-item-id="{{ item.id }}"></div>
        <div class="panel-footer">
            <div class="btn-group">
                <a href="{{ absolute_url(item.product.externalLink) }}" target="_blank" class="btn btn-success">
                    {{ 'Go to product page'|trans }}
                </a>
                {% if order.currentStatus.type == constant('\\Catalog\\ORM\\Entity\\OrderStatus::PROCESS') %}
                    <button type="button"
                            class="btn btn-primary js-call-product-form"
                            data-url="{{ path('cp.order.update.product', { orderProduct: item.id }) }}"
                            data-item-id="{{ item.id }}"
                    >
                        {{ 'Update'|trans }}
                    </button>
                {% endif %}

                {% if item|hasDisputeForPosition %}
                    <a href="{{ path('cp.order.dispute', {'dispute': item.disputes.first.id}) }}" class="btn btn-danger">
                        {{ 'Dispute'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}