{% extends '@Kerosin/layout/email.twig' %}
{# user \User\Entity\User #}
{# fromUser \User\Entity\User #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>{{ fromUser.username }} has sent you a new message.</p>
    <p>Dear moderator,</p>
    <p>You have received a message from {{ fromUser.username }} on <a href="{{ absolute_url(path('cp.order.process', {'id': order.id})) }}">ZenithBay</a>.</p>
{% endblock %}