{% extends '@Kerosin/layout/email.twig' %}

{% block content %}
    <p>Dear {{ manager.username }},</p>
    <p>You have received an order, its expire coming soon, but that one yet doesn't process. The order is as follows:</p>
    {% include '@Kerosin/mail/order/order_details.part.twig' with { order: order, moderatorMode: true } only %}
    <p>You can access your account area to manage this order:
        <a href="{{ absolute_url( path('cp.order.process', {'id': order.id}) ) }}">{{ order.code }}</a>.
    </p>
{% endblock %}