{# order \Order\Entity\Order #}
<p>The order {{ order.code }} from {{ order.user.username }} has been cancelled. The order was as follows: </p>
{% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order, 'moderatorMode': true } only %}