{# order \Order\Entity\Order #}
<p>Payment for order {{ order.code }} from {{ order.user.username }} has not been received. The order was as follows:</p>
{% include '@Kerosin/mail/order/order_details.part.twig' with { 'order': order, 'moderatorMode': true } only %}