{# @controller UserBundle:account:createUpdateInfo #}

{% extends '@Shop/layouts/my.twig' %}

{% block content_without_menu %}
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">{{ 'Save'|trans }}</button>
            <a href="{{ path('shop.account.index') }}" class="btn btn-default">{{ 'Cancel'|trans }}</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/delivery_form.js') }}"></script>
{% endblock %}

{% block main_menu %}{% endblock %}

