{# @controller ShopBundle:Account:index #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}

{% endblock %}

{#
{% block main_menu %}{% endblock %}

{% block content_without_menu %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Delivery info</h2>
            <table class="table table-striped">
                {% for info in infoList %}
                    <tr>
                        <td>
                            <strong>{{ info.firstName }}, {{ info.lastName }}:</strong> {{ info.address }} {{ info.apartment }}, {{ info.city.title }}, {{ info.state.title }}, {{ info.country.title }}
                        </td>
                        <td style="width: 100px">
                            <a href="{{ path('shop.account.delivery_info.edit', {id: info.id}) }}" class="link-icon">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ path('shop.account.delivery_info.remove', {id: info.id}) }}" class="link-icon">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <p>You have not yet added shipping information</p>
                {% endfor %}
            </table>
            <a href="{{ path('shop.account.delivery_info.add') }}" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>Last Active Orders</h2>
            {% include '@User/account/orders/_list.twig' with {orders: orders} only %}
        </div>
    </div>
{% endblock %}#}
