.save-message {
    width: 300px;
    padding: 5px;
    color: white;

    &.success {
        background-color: #3fb618;
    }

    &.error {
        background-color: red;
    }
}

.category-list {
    .disabled {
        background-color: grey !important;

        a {
            color: white;
        }
    }
}