.messages-list {
    width: 70%;
    border: 1px solid gray;
    padding: 10px;
    height: 600px;

    overflow-y: scroll;

    .chat-message-wrap {
        width: 100%;
    }

    .chat-message {
        margin: 5px 0;
        width: 60%;

        .message-header {
            .message-author {
                font-weight: 700;
                margin-left: 5px;
            }

            .message-date {
                font-size: 10px;
            }
        }

        .message-text {
            margin: 5px;
        }

        &.from-customer {
            float: left;
            background-color: #e4e4e4;
        }

        &:not(.from-customer) {
            float: right;
            background-color: #9eccf8;
        }

        .message-attachment {
            float: left;
            img {
                display: block;
                width: 75px;
                margin: 0 5px;
            }

            .attachment-zoom {
                text-align: center;
            }
        }
    }
}