.btn {
  &.btn-create {
    margin-bottom: 10px;
  }
}

.bg-warning {
  margin: 10px 0;
  padding: 10px;
  color: white;
  width: 40%;
}

.product-item {
  padding: 3px;
  border: 1px solid black;
}

.items-container {
  height: 550px;
  overflow-y: scroll;
}

.category-tree-field {
  height: 500px;
  width: 50%;
  overflow-y: scroll;
}

.block-type-category-row {
  width: 90%;

  .image {
    .image-field-container {
      margin-left: 25px;
    }
  }
}

.control-panel {
  .page-header {
    padding-bottom: 25px;
  }

  .control-panel-breadcrumbs {
    ul {
      list-style: none;
      margin-left: -2em;
    }

    ul li {
      &:not(:last-child):after {
        content: '>';
      }
      float: left;
    }
  }
}

