.order-comment-textarea {
  margin: 5px;

  textarea {
    width: 80%;
    height: 150px;
  }
}

.order-comment {
  padding: 15px;
}

.product-form {
  margin: 10px;
}

.order-is-critical {
  td:first-child {
    color: red;
    font-weight: bold;

    &:before {
      content: '! ';
    }

    &:after {
      content: ' !';
    }
  }

  .order-status {
    &:after {
      color: red;
      font-weight: bold;
      content: ' !';
    }
  }
}

.order-status {
  &.order-status-processing {
    color: green;
  }
}