<html>
<head>
    <title>Error 500</title>
</head>
<body style="text-align: center; padding-top: 50px;">
        <span>
            <a href="//zenithbay.com/">
                <img alt="Zenithbay" src="/images/zenithbay-logo.png">
            </a>
            <p style="font-size: 2em;">
                We have it broken. But we are fixing now.
            </p>
        </span>
        <span>
            <img src="/images/monkey.gif">
        </span>
</body>
</html>