<html>
    <head>
        <title>Error 404 (Not Found)</title>
    </head>
    <body style="text-align: center; padding-top: 50px;">
        <span>
            <a href="//zenithbay.com/">
                <img alt="Zenithbay" src="/images/zenithbay-logo.png">
            </a>
            <p style="font-size: 2em;">
                The requested URL was not found on this server.
            </p>
        </span>
    </body>
</html>