{# @controller CpBundle:Elastic:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}State of Elastic Index{% endblock %}

{% block body %}
    <p class="bg-warning zt-margin-t_15px zt-padding_5px">Page in progress</p>

    <ul class="list-unstyled">
        <li>Count of products in Index: <strong>{{ elasticProducts.paginationData.totalCount }}</strong></li>
        <li>All products: <strong>{{ countProducts }}</strong></li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Categories</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for product in elasticProducts %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.publicPrice }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for category in product.categories %}
                            <li>{{ category.id }} - {{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="btn-group-sm">
                        <a href="{{ path('shop.catalog.product', {'id': product.id}) }}" class="btn btn-primary" title="View in catalog">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="" class="btn btn-success" title="Compare with Db">
                            <i class="glyphicon glyphicon-pause"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(elasticProducts) }}
    </div>

{% endblock %}