<div class="row">
    <div class="col-md-12">
        {{ form_start(filter) }}
        {{ form_widget(filter) }}
        <button type="submit" class="btn btn-success">Search</button>
        <a href="{{ path('cp.address.index') }}" class="btn btn-default">Reset</a>
        {{ form_end(filter) }}
    </div>
</div>