{% extends '@cp/layout/main.html.twig' %}

{% block page_header %}
    {% if isEdit %}
        Edit an Address
    {% else %}
        Create an Address
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" type="submit">Save</button>
    <a href="{{ path('cp.address.index') }}" class="btn btn-default">Cancel</a>
    {{ form_end(form) }}
{% endblock %}

