{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    {% include '@Cp/address/filter.twig' with { filter: filter } only %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Parent</th>
                    <th></th>
                </tr>
                {% for address in addresses %}
                    <tr>
                        <td>{{ address.id }}</td>
                        <td>{{ address.title }}</td>
                        <td>{{ address.readableType }}</td>
                        <td>{{ address.parent.title ?? '' }}</td>
                        <td>
                            <div class="btn-block">
                                <a href="{{ path('cp.address.edit', { id: address.id }) }}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            Not found
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="navigation">
                {{ knp_pagination_render(addresses) }}
            </div>
        </div>
    </div>
{% endblock %}
