{# @controller ShopBundle:Dispute:view #}
{% extends '@Shop/layouts/account.twig' %}

{% block content %}
    <div class="dispute-order-wrapper">
        <h3>Dispute</h3>

        <div class="dispute-order-positions">
            <span>
                <strong>{{ dispute.orderPosition.quantity }} pcs</strong> &#215; <a href="{{ path('shop.catalog.product', {'id': dispute.orderPosition.product.id}) }}">{{ dispute.orderPosition.product.title }}</a>
            </span>
         </div>

        <div class="dispute-order-status-wrapper">
            <div class="dispute-order-status">Current status: <strong>{{ dispute.readableStatus }}</strong></div>
            <div>
                {% if dispute|canCloseByUser %}
                    <a href="{{ path('shop.account.order.dispute.close', {hash: dispute.orderPosition.order.hash, position: dispute.orderPosition.id}) }}" class="btn btn-danger">Close dispute</a>
                {% endif %}
            </div>
        </div>

        <div class="js-chat-container chat-container">
            {% include '@Shop/account/chat/message_list.part.twig' with { messages: messages } only %}

            {% if isAllowChat %}
                {% include '@Shop/account/chat/form.part.twig' with {
                    form: form,
                    type: 'dispute',
                    target: dispute.id,
                    allowAttachments: true
                } only %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/chat.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/chat.js') }}"></script>
{% endblock %}