{% extends "@FOSUser/layout.html.twig" %}

{% block form_title %}Login or Create an Account{% endblock %}

{% block fos_user_content %}
    <div class="row row-flex">
        <div class="col-xs-12 col-sm-6 form-section">
            <div class="fos-user-login-wrapper">
                <div class="form-content">
                    <h3 class="heading-text-color font-weight-bold">New Customers</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                </div>
                <div class="form-action clearfix">
                    <a href="{{ path('shop.user.registration') }}" class="btn btn-primary">Create an Account</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 form-section">
            <div class="fos-user-register-wrapper">
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}