<form method="post" action="{{ path('fos_user_security_check') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <div class="form-content">
        <h3 class="heading-text-color font-weight-bold">Registered Customers</h3>
        <p>If you have an account with us, please log in.</p>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="username">{{ 'Username or E-mail'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>

            <div class="form-group col-md-6">
                <label for="password">{{ 'Password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password">
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'Remember me'|trans }}
            </label>
        </div>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
    </div>
    <div class="form-action clearfix">
        <a href="{{ path('fos_user_resetting_request') }}" class="pull-left">Forgot Your Password?</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>