<ul class="category-tree-list">
    {% for category in categories %}
        <li>
            <div class="checkbox">
                <input id="assembly_category_{{ category.id }}" type="checkbox" value="{{ category.id }}" class="assembly-checkbox">
                <label for="assembly_category_{{ category.id }}">{{ category.title }}</label>
            </div>
            {% if category.children %}
                {% set depth = depth + 1 %}
                {% include '@cp/category/_assebly_category.twig' with { 'categories': category.children, 'depth': depth } only %}
            {% endif %}
        </li>
    {% endfor %}
</ul>