{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    <h3>Choose categories for build facets on catalog</h3>
    <small>Double click for change childrens</small>
    <form id="assembly-form">
        <div class="checkbox assembly-all">
            <input id="assembly_all" type="checkbox" class="assembly-checkbox" value="ALL">
            <label for="assembly_all">All</label>
        </div>
        {% include '@cp/category/_assebly_category.twig' with { 'categories': categories, 'depth': 0 } only %}
        <ul class="selected-categories list-unstyled">

        </ul>
        <div class="assembly-execution hidden">
            <h4>Assembly Execution <span class="percent">0</span></h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                </div>
            </div>
            <button type="button" class="hide-progress hidden btn btn-default">Close</button>
        </div>
        <button type="button" class="btn btn-success" id="assembly">Assembly</button>
        <a href="{{ path('cp.catalog.category.index') }}" class="btn btn-default">Back</a>
    </form>
{% endblock %}

{% block title %}
    Assembly facets
{% endblock %}

