{# @controller CpBundle:Category:createEdit #}
{% extends '@Cp/layout/main.html.twig' %}

{% block page_header %}
    {% if isCreate %}
        {{ 'Create a category'|trans }}
    {% else %}
        {{ 'Edit a category: %category%'|trans({'%category%': category.title}) }}
    {% endif %}
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">{{ 'Main'|trans }}</a></li>
        {% if isCreate == false %}
            <li><a href="#mapping" data-toggle="tab">{{ 'Mapping'|trans }}</a></li>
        {% endif %}
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="main">
            {% include '@Cp/category/tabs/_main_tab.twig' %}
        </div>
        <div class="tab-pane" id="mapping">
            {% include '@Cp/category/tabs/_mapping_tab.twig' %}
        </div>
    </div>

{% endblock %}