{% extends '@cp/layout/main.html.twig' %}

{% block body %}
    <h2>Facet's for category '{{ category.title }}'</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-success btn">Save</button>
    <a href="{{ path('cp.catalog.category.index') }}" class="btn btn-default">Back</a>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Facet's for category '{{ category.title }}'
{% endblock %}

