{# @controller CpBundle:Category:index #}
{% extends '@Cp/layout/main.html.twig' %}

{% block title %}CRUD Categories{% endblock %}
{% block page_header %}CRUD Categories{% endblock %}

{% block body %}

    <a href="{{ path('cp.catalog.category.assembly_view') }}" class="btn btn-primary btn-create">Assembly facets</a>

    {% if parents is defined  %}
        {% set current = parents|last %}
        <a href="{{ path('cp.catalog.category.edit', {predefine: current.id}) }}" class="btn btn-success btn-create">Create</a>
        <ol class="breadcrumb">
            <li><a href="{{ path('cp.catalog.category.index') }}">Top level</a></li>
            {% for parent in parents %}
                <li>
                    <a href="{{ path('cp.catalog.category.index', {category: parent.id}) }}">{{ parent.title }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <a href="{{ path('cp.catalog.category.edit') }}" class="btn btn-success btn-create">Create</a>
    {% endif %}
    <table class="table table-bordered table-striped category-list">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Parent</th>
            <th>Order</th>
            <th>Enabled</th>
            <th width="200px"></th>
        </tr>
        {% for item in categories %}
            {# item \Catalog\ORM\Entity\Category #}
        <tr {% if item.enabled == false  %}class="disabled"{% endif %}>
            <td>{{ item.id }}</td>
            <td>
                <a href="{{ path('cp.catalog.category.index', {category: item.id}) }}">{{ item.title }}</a>
            </td>
            <td>
                {% if item.parent %}
                    {{ item.parent.title }} (ID# {{ item.parent.id }})
                {% endif %}
            </td>
            <td>
                {{ item.order }}
            </td>
            <td>
                {% if item.enabled %}
                    <i class="fa fa-check"></i>
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-warning btn-sm" href="{{ path('cp.catalog.category.toggle_enable', {'category': item.id}) }}">
                        {% if item.enabled %}
                            <i class="fa fa-times"></i>
                        {% else %}
                            <i class="fa fa-check"></i>
                        {% endif %}
                    </a>
                    <a href="{{ path('cp.catalog.category.facets', {id: item.id}) }}" class="btn btn-default btn-sm" title="Facets">
                        <span class="glyphicon glyphicon-briefcase"></span>
                    </a>
                    <a href="{{ path('cp.catalog.category.edit', {id: item.id}) }}" class="btn btn-primary btn-sm" title="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{{ path('cp.catalog.category.delete', {id: item.id}) }}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}