.landing-wrapper {
    font-family: 'Geometria', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    padding-top: 50px;
    .landing-block {
        padding-bottom: 30px;
        .landing-block-header {
            font-size: 2em;
            padding-bottom: 20px;
        }
        .landing-block-action {
            &.center {
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}