.main-wrapper {
    padding-top: 60px;
}

.navbar-logout {
    margin-right: 10px;
}

.btn-create {
    margin-bottom: 5px;
}

.entity-filter__toggle {
    font-size: 14px;
    font-weight: bold;
}

.entity-filter__toggle:before {
    content: '(';
}

.entity-filter__toggle:after {
    content: ')';
}

.entity-filter__form {
    margin: 10px;
}

.collection-element {
    margin: 5px;
}

.form-inline label {
    margin: 0 5px;
}

.form-inline .image-fields-group {
    display: block !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 1200px;
}

.product__item {
    border: 1px solid darkgray;
    width: 90%;
    height: 250px;
    margin: 5px;

    .title {
        font-size: 20px;
        text-align: center;
    }

    .image {
        margin: 10px 0;
        position: relative;
        left: 10px;
        float: left;

        img {
            width: 200px;
        }
    }

    .price {
        font-size: 24px;
        text-align: center;
    }
}

.product__list:after {
    clear: both;
}

.product-page-mode {
    li {
        float: left;
        margin: 0 4px 0 0;
    }

    li:not(:first-child):not(:last-child):after {
        content: " |";
    }
}

.product-page-mode:after {
    clear: both;
}

.cp-menu {
    a.active {
        color: red;
        text-decoration: underline;
        font-weight: bold;
    }

    h4.active {
        text-decoration: underline;
    }
}

.assembly-all {
    margin-left: 40px;

    label {
        font-weight: bold;
    }
}

.selected-categories {

    li {
        float: left;
        color: white;
        padding: 5px;
        background-color: darkgray;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.assembly-execution {
    button.hide-progress:not(.hidden) {
        margin: 5px 0;
    }

    .percent {
        &:before {
            content: "(";
        }

        &:after {
            content: "%)";
        }
    }
}

.btn.btn-circle {
    border-radius: 50%;
}

.order-tabs {
    padding-top: 10px;
}

.table-contents {

    td:nth-child(odd) {
        width: 30%;
    }
    td:nth-child(even) {
        font-weight: bold;
    }
}

.table-twig-vars {
    td:nth-child(odd) {
        width: 30%;
    }
    td:nth-child(even) {
        font-weight: bold;
        color: darkblue;
    }
}

.countries-list {
    height: 500px;
    overflow-y: scroll;
}