{% extends '@Kerosin/layout/email.twig' %}
{# dispute \Order\Entity\Dispute #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>You have closed the dispute on {{ dispute.orderPosition.product.title }} in the order {{ order.code }}.</p>
    <p>
        <a href="{{ absolute_url(path('shop.account.order.dispute.view', {hash: dispute.orderPosition.order.hash, position: dispute.orderPosition.id})) }}">Details</a>
    </p>
{% endblock %}