{% extends '@Kerosin/layout/email.twig' %}
{# dispute \Order\Entity\Dispute #}
{# order \Order\Entity\Order #}

{% block content %}
    <p>Hello, {{ order.user.username }}.</p>
    <p>You have opened a dispute on {{ dispute.orderPosition.product.title }} product in the order</p>
    <p>{{ order.code }}.</p>
    <p>
        <a href="{{ absolute_url(path('shop.account.order.dispute.view', {hash: dispute.orderPosition.order.hash, position: dispute.orderPosition.id})) }}">Details</a>
    </p>
{% endblock %}