{% extends '@cp/layout/main.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{{ path('cp.catalog.product.price') }}" class="btn btn-default">Cancel</a>
    {{ form_end(form) }}
{% endblock %}