{% extends '@Cp/layout/main.html.twig' %}

{% block body %}
    {% set resetRoute = 'cp.catalog.product.price' %}
    {% include '@Cp/product/filter.twig' %}
    {% include '@Cp/product/mode.twig' %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Base Price</th>
            <th>Scale (%)</th>
            <th>Total Price</th>
            <th width="150px"></th>
        </tr>
        {% for product in products %}
            {% include '@Cp/product/price/row.twig' with { product: product } only %}
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}

