{# product \Catalog\ORM\Entity\Product #}
{# formOpen boolean #}
{% set hideValue = formOpen is defined and formOpen == true ? 'hide' : '' %}
{% set hideForm = formOpen is not defined or formOpen == false ? 'hide' : '' %}
<tr class="js-price-row" data-item-id="{{ product.id }}">
    <td>
        {{ product.id }} <a href="{{ path('shop.catalog.product', {'id': product.id}) }}" target="_blank">open</a>
    </td>
    <td>{{ product.title }}</td>
    <td>
        <div class="js-price-item {{ hideValue }}">
            {% if product.price is not null %}
                {{ product.price.value }} {{ product.price.currency }}
            {% else %}
                0.00
            {% endif %}
        </div>
        <div class="js-price-item__form {{ hideForm }}">
            <div class="input-group">
                <input name="value" class="form-control input-sm" value="{{ product.price.value ?? 0.00 }}">
            </div>
        </div>
    </td>
    <td>
        <div class="js-price-item {{ hideValue }}">
            {% if product.price is not null %}
                {{ product.price.scale }}
            {% else %}
                0.00
            {% endif %}
        </div>
        <div class="js-price-item__form {{ hideForm }}">
            <div class="input-group">
                <input name="scale" class="form-control input-sm" value="{{ product.price.scale ?? 0.00 }}">
            </div>
        </div>
    </td>
    <td>
        {% if product.price is not null %}
            {{ product.price.totalPrice }}
        {% else %}
            0.00
        {% endif %}
    </td>
    <td>
        <div class="btn-group btn-group-sm">
            {% set isCreate = (product.price is null) %}
            {% set editUrl = (isCreate ? path('cp.catalog.product.price.create', {product: product.id}) : path('cp.catalog.product.price.edit', {id: product.price.id}) ) %}

            <a href="#" class="btn {{ isCreate ? 'btn-success' : 'btn-primary' }} js-price-edit-btn {{ hideValue }}">
                <span class="glyphicon {{ isCreate ? 'glyphicon-plus' : 'glyphicon-pencil' }}"></span>
            </a>

            {% if isCreate == false %}
                <a href="{{ path('cp.catalog.product.price.delete', {id: product.price.id}) }}" class="btn btn-danger js-price-remove {{ hideValue }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            {% endif %}

            <a href="{{ editUrl }}" class="btn btn-primary js-price-save {{ hideForm }}" data-item-id="{{ product.id }}">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </a>
            <button class="btn btn-default js-price-save__cancel {{ hideForm }}" data-item-id="{{ product.id }}">
                <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
        </div>
    </td>
</tr>